In [3]:
import pandas as pd
import os

In [5]:
# Crear la carpeta "data_python"
os.mkdir("data_python")

# Crear las subcarpetas "estudiantes" y "administrativos" dentro de "data_python"
os.mkdir(os.path.join("data_python", "estudiantes"))
os.mkdir(os.path.join("data_python", "administrativos"))

In [11]:
# Leer el archivo .xlsx en un DataFrame
df_2014 = pd.read_excel('data_python/estudiantes/2014__recurso.xlsx')
df_2015 = pd.read_excel('data_python/estudiantes/2015__recurso.xlsx')
df_2016 = pd.read_excel('data_python/estudiantes/2016__recurso.xlsx')
df_2017 = pd.read_excel('data_python/estudiantes/2017__recurso.xlsx')
df_2018 = pd.read_excel('data_python/estudiantes/2018__recurso.xlsx')
df_2019 = pd.read_excel('data_python/estudiantes/2019__recurso.xlsx')
df_2020 = pd.read_excel('data_python/estudiantes/2020__recurso.xlsx')

In [12]:
def eliminar_filas_iniciales(df, n):
    df = df.iloc[n:].reset_index(drop=True)  # Eliminar las primeras n filas y restablecer los índices
    df.columns = df.iloc[0]  # Establecer la nueva primera fila como encabezado
    df = df[1:].reset_index(drop=True)  # Eliminar la antigua primera fila y restablecer los índices nuevamente
    return df

In [13]:
df_m_2014 = eliminar_filas_iniciales(df_2014, 5)
df_m_2015 = eliminar_filas_iniciales(df_2015, 5)
df_m_2016 = eliminar_filas_iniciales(df_2016, 5)
df_m_2017 = eliminar_filas_iniciales(df_2017, 5)
df_m_2018 = eliminar_filas_iniciales(df_2018, 7)
df_m_2019 = eliminar_filas_iniciales(df_2019, 8)
df_m_2020 = eliminar_filas_iniciales(df_2020, 8)

In [41]:
df_m_2020.head(2)

,CÓDIGO DE LA INSTITUCIÓN,IES_PADRE,INSTITUCIÓN DE EDUCACIÓN SUPERIOR (IES),PRINCIPAL O SECCIONAL,ID SECTOR,IES\tSECTOR IES,ID CARACTER,CARACTER IES,CÓDIGO DEL DEPARTAMENTO (IES),DEPARTAMENTO DE DOMICILIO DE LA IES,...,DESC CINE CODIGO DETALLADO,CÓDIGO DEL DEPARTAMENTO (PROGRAMA),DEPARTAMENTO DE OFERTA DEL PROGRAMA,CÓDIGO DEL MUNICIPIO (PROGRAMA),MUNICIPIO DE OFERTA DEL PROGRAMA,ID SEXO,SEXO,AÑO,SEMESTRE,INSCRITOS
0,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,Principal,1,OFICIAL,4,Universidad,11,Bogotá D.C.,...,Producción agrícola y ganadera,11,Bogotá D.C.,11001,"Bogotá, D.C.",1,Hombre,2020,1,87
1,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,Principal,1,OFICIAL,4,Universidad,11,Bogotá D.C.,...,Producción agrícola y ganadera,11,Bogotá D.C.,11001,"Bogotá, D.C.",1,Hombre,2020,2,49

In [42]:
pd.set_option('display.max_columns', None)
df_m_2020.describe()

,CÓDIGO DE LA INSTITUCIÓN,IES_PADRE,INSTITUCIÓN DE EDUCACIÓN SUPERIOR (IES),PRINCIPAL O SECCIONAL,ID SECTOR,IES\tSECTOR IES,ID CARACTER,CARACTER IES,CÓDIGO DEL DEPARTAMENTO (IES),DEPARTAMENTO DE DOMICILIO DE LA IES,CÓDIGO DEL MUNICIPIO (IES),MUNICIPIO DE DOMICILIO DE LA IES,CÓDIGO SNIES DEL PROGRAMA,PROGRAMA ACADÉMICO,ID NIVEL ACADÉMICO,NIVEL ACADÉMICO,ID NIVEL DE FORMACIÓN,NIVEL DE FORMACIÓN,ID METODOLOGÍA,METODOLOGÍA,ID ÁREA,ÁREA DE CONOCIMIENTO,ID NÚCLEO,NÚCLEO BÁSICO DEL CONOCIMIENTO (NBC),ID CINE CAMPO AMPLIO,DESC CINE CAMPO AMPLIO,ID CINE CAMPO ESPECIFICO,DESC CINE CAMPO ESPECIFICO,ID CINE CODIGO DETALLADO,DESC CINE CODIGO DETALLADO,CÓDIGO DEL DEPARTAMENTO (PROGRAMA),DEPARTAMENTO DE OFERTA DEL PROGRAMA,CÓDIGO DEL MUNICIPIO (PROGRAMA),MUNICIPIO DE OFERTA DEL PROGRAMA,ID SEXO,SEXO,AÑO,SEMESTRE,INSCRITOS
count,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390
unique,321,275,275,2,2,2,4,4,28,28,72,72,10982,5244,2,2,10,10,5,5,10,10,57,57,12,12,40,40,107,105,34,34,372,364,2,2,1,2,825
top,2102,2102,UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA UNAD,Principal,2,PRIVADA,4,Universidad,11,Bogotá D.C.,11001,"Bogotá, D.C.",SIN PROGRAMA ESPECIFICO,ADMINISTRACION DE EMPRESAS,01,PREGRADO,06,Universitaria,01,Presencial,6,"Economía, administración, contaduría y afines",69,Administración,4,Administración de Empresas y Derecho,41,Educación comercial y administración,413,Gestión y administración,11,Bogotá D.C.,11001,"Bogotá, D.C.",1,Hombre,2020,1,1
freq,9223,9223,9223,49023,26682,26682,33714,33714,29371,29371,29371,29371,790,1119,35474,35474,22514,22514,34907,34907,15797,15797,12088,12088,17259,17259,14150,14150,8650,8650,11609,11609,11609,11609,26628,26628,52390,26536,6669

In [44]:
df_m_2014.describe()

,Código de \nla Institución,IES PADRE,Institución de Educación Superior (IES),Principal\n o\nSeccional,Id_Sector,Sector IES,Id_Caracter,Caracter IES,Código del \ndepartamento\n(IES),Departamento de \ndomicilio de la IES,Código del \nMunicipio\n(IES),Municipio de\ndomicilio de la IES,Código \nSNIES del\nprograma,Programa Académico,Id_Nivel,Nivel Académico,Id_Nivel_Formacion,Nivel de Formación,Id_Metodologia,Metodología,Id_Area,Área de Conocimiento,Id_Nucleo,Núcleo Básico del Conocimiento (NBC),Código del \nDepartamento\n(Programa),Departamento de oferta del programa,Código del \nMunicipio\n(Programa),Municipio de oferta del programa,Id Género,Género,Año,Semestre,Inscritos 2014
count,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475
unique,318,272,272,2,2,2,4,4,28,28,73,73,8436,3606,2,2,6,6,3,3,8,8,62,56,33,33,291,284,2,2,1,2,752
top,2102,2102,UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA UNAD,PRINCIPAL,2,PRIVADA,4,UNIVERSIDAD,11,BOGOTA D.C.,11001,BOGOTA D.C.,3274,ADMINISTRACION DE EMPRESAS,1,PREGRADO,6,UNIVERSITARIA,1,PRESENCIAL,6,ECONOMIA ADMINISTRACION CONTADURIA Y AFINES,69,ADMINISTRACION,11,BOGOTA D.C.,11001,BOGOTA D.C.,1,MASCULINO,2014,1,1
freq,4471,4471,4471,35905,21659,21659,24518,24518,20053,20053,20053,20053,231,1277,27758,27758,16780,16780,28214,28214,12330,12330,8755,8755,9361,9361,9361,9361,19547,19547,38475,19605,4317

In [43]:
df_m_2019.columns

Index(['CÓDIGO DE LA INSTITUCIÓN', 'IES_PADRE',
       'INSTITUCIÓN DE EDUCACIÓN SUPERIOR (IES)', 'PRINCIPAL O SECCIONAL',
       'ID SECTOR IES', 'SECTOR IES', 'ID CARACTER', 'CARACTER IES',
       'CÓDIGO DEL DEPARTAMENTO (IES)', 'DEPARTAMENTO DE DOMICILIO DE LA IES',
       'CÓDIGO DEL MUNICIPIO', 'MUNICIPIO DE DOMICILIO DE LA IES',
       'CÓDIGO SNIES DEL PROGRAMA', 'PROGRAMA ACADÉMICO', 'ID NIVEL ACADÉMICO',
       'NIVEL ACADÉMICO', 'ID NIVEL DE FORMACIÓN', 'NIVEL DE FORMACIÓN',
       'ID METODOLOGÍA', 'METODOLOGÍA', 'ID ÁREA', 'ÁREA DE CONOCIMIENTO',
       'ID NÚCLEO', 'NÚCLEO BÁSICO DEL CONOCIMIENTO (NBC)',
       'ID CINE CAMPO AMPLIO', 'DESC CINE CAMPO AMPLIO',
       'ID CINE CAMPO ESPECIFICO', 'DESC CINE CAMPO ESPECIFICO',
       'ID CINE CODIGO DETALLADO', 'DESC CINE CODIGO DETALLADO',
       'CÓDIGO DEL DEPARTAMENTO (PROGRAMA)',
       'DEPARTAMENTO DE OFERTA DEL PROGRAMA',
       'CÓDIGO DEL MUNICIPIO (PROGRAMA)', 'MUNICIPIO DE OFERTA DEL PROGRAMA',
       'ID SEXO', 'SEXO', 'AÑO', 'SEMESTRE', 'INSCRITOS '],
      dtype='object', name=0)

In [45]:
columnas_a_eliminar = [
    'ID CINE CAMPO AMPLIO', 'DESC CINE CAMPO AMPLIO',
    'ID CINE CAMPO ESPECIFICO', 'DESC CINE CAMPO ESPECIFICO',
    'ID CINE CODIGO DETALLADO', 'DESC CINE CODIGO DETALLADO'
]

In [46]:
df_m_2019 = df_m_2019.drop(columnas_a_eliminar, axis=1)
df_m_2020 = df_m_2020.drop(columnas_a_eliminar, axis=1)

In [47]:
print(df_m_2014.shape)
print(df_m_2015.shape)
print(df_m_2016.shape)
print(df_m_2017.shape)
print(df_m_2018.shape)
print(df_m_2019.shape)
print(df_m_2020.shape)

(38475, 33)
(40419, 33)
(42764, 33)
(45804, 33)
(44756, 33)
(50200, 33)
(52390, 33)

In [48]:
df_m_2018 = df_m_2018.rename(columns=lambda x: x.replace("\n", " "))
nuevos_nombres = df_m_2018.columns

In [49]:
# Renombrar las columnas 
df_m_2014.columns = nuevos_nombres
df_m_2015.columns = nuevos_nombres
df_m_2016.columns = nuevos_nombres
df_m_2017.columns = nuevos_nombres
df_m_2018.columns = nuevos_nombres
df_m_2019.columns = nuevos_nombres
df_m_2020.columns = nuevos_nombres

In [50]:
df_concatenado = pd.concat([df_m_2014, df_m_2015, df_m_2016, df_m_2017, df_m_2018, df_m_2019, df_m_2020], axis=0)
df = df_concatenado.reset_index(drop=True)

In [51]:
print(df.shape)

(314808, 33)

In [52]:
df = df.applymap(lambda x: x.title() if isinstance(x, str) else x)

In [53]:
df = df.astype(str).apply(lambda x: x.str.lstrip('0'))

In [54]:
df.describe(include='all')

,Código de la Institución,IES PADRE,Institución de Educación Superior (IES),Principal o Seccional,ID Sector IES,Sector IES,ID Caracter,Caracter IES,Código del departamento (IES),Departamento de domicilio de la IES,Código del Municipio (IES),Municipio de domicilio de la IES,Código SNIES del programa,Programa Académico,ID Nivel Académico,Nivel Académico,ID Nivel de Formación,Nivel de Formación,ID Metodología,Metodología,ID Área,Área de Conocimiento,Id_Nucleo,Núcleo Básico del Conocimiento (NBC),Código del Departamento (Programa),Departamento de oferta del programa,Código del Municipio (Programa),Municipio de oferta del programa,ID Sexo,Sexo,Año,Semestre,Inscripciones 2018
count,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808
unique,338,289,366,2,2,2,4,7,29,47,77,116,15032,8980,4,3,12,17,7,11,12,16,66,122,39,55,740,877,2,4,7,2,1791
top,2102,2102,Universidad Nacional Abierta Y A Distancia Unad,Principal,2,Privada,4,Universidad,11,Bogotá D.C.,11001,Bogota D.C.,3274,Administracion De Empresas,1,Pregrado,6,Universitaria,1,Presencial,6,"Economía, Administración, Contaduría Y Afines",69,Administración,11,Antioquia,11001,Bogota D.C.,1,Hombre,2020,1,1
freq,43682,43682,43682,293947,165091,165091,201879,201879,166336,56342,166336,88284,1660,7742,214926,214926,133773,133773,225048,225048,96787,71903,70441,52948,72936,44248,72936,40407,159850,119797,52390,160675,37500

In [55]:
df.describe()

,Código de la Institución,IES PADRE,Institución de Educación Superior (IES),Principal o Seccional,ID Sector IES,Sector IES,ID Caracter,Caracter IES,Código del departamento (IES),Departamento de domicilio de la IES,Código del Municipio (IES),Municipio de domicilio de la IES,Código SNIES del programa,Programa Académico,ID Nivel Académico,Nivel Académico,ID Nivel de Formación,Nivel de Formación,ID Metodología,Metodología,ID Área,Área de Conocimiento,Id_Nucleo,Núcleo Básico del Conocimiento (NBC),Código del Departamento (Programa),Departamento de oferta del programa,Código del Municipio (Programa),Municipio de oferta del programa,ID Sexo,Sexo,Año,Semestre,Inscripciones 2018
count,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808,314808
unique,338,289,366,2,2,2,4,7,29,47,77,116,15032,8980,4,3,12,17,7,11,12,16,66,122,39,55,740,877,2,4,7,2,1791
top,2102,2102,Universidad Nacional Abierta Y A Distancia Unad,Principal,2,Privada,4,Universidad,11,Bogotá D.C.,11001,Bogota D.C.,3274,Administracion De Empresas,1,Pregrado,6,Universitaria,1,Presencial,6,"Economía, Administración, Contaduría Y Afines",69,Administración,11,Antioquia,11001,Bogota D.C.,1,Hombre,2020,1,1
freq,43682,43682,43682,293947,165091,165091,201879,201879,166336,56342,166336,88284,1660,7742,214926,214926,133773,133773,225048,225048,96787,71903,70441,52948,72936,44248,72936,40407,159850,119797,52390,160675,37500

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314808 entries, 0 to 314807
Data columns (total 33 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   Código de  la Institución                314808 non-null  object
 1   IES PADRE                                314808 non-null  object
 2   Institución de Educación Superior (IES)  314808 non-null  object
 3   Principal  o Seccional                   314808 non-null  object
 4   ID Sector IES                            314808 non-null  object
 5   Sector IES                               314808 non-null  object
 6   ID Caracter                              314808 non-null  object
 7   Caracter IES                             314808 non-null  object
 8   Código del  departamento (IES)           314808 non-null  object
 9   Departamento de  domicilio de la IES     314808 non-null  object
 10  Código del  Municipio (IES)              314808 non-null  object
 11  Municipio de domicilio de la IES         314808 non-null  object
 12  Código  SNIES del programa               314808 non-null  object
 13  Programa Académico                       314808 non-null  object
 14  ID Nivel Académico                       314808 non-null  object
 15  Nivel Académico                          314808 non-null  object
 16  ID Nivel de Formación                    314808 non-null  object
 17  Nivel de Formación                       314808 non-null  object
 18  ID Metodología                           314808 non-null  object
 19  Metodología                              314808 non-null  object
 20  ID Área                                  314808 non-null  object
 21  Área de Conocimiento                     314808 non-null  object
 22  Id_Nucleo                                314808 non-null  object
 23  Núcleo Básico del Conocimiento (NBC)     314808 non-null  object
 24  Código del  Departamento (Programa)      314808 non-null  object
 25  Departamento de oferta del programa      314808 non-null  object
 26  Código del  Municipio (Programa)         314808 non-null  object
 27  Municipio de oferta del programa         314808 non-null  object
 28  ID Sexo                                  314808 non-null  object
 29  Sexo                                     314808 non-null  object
 30  Año                                      314808 non-null  object
 31  Semestre                                 314808 non-null  object
 32  Inscripciones 2018                       314808 non-null  object
dtypes: object(33)
memory usage: 79.3+ MB

In [57]:
# Obtener el número de valores únicos en cada columna
valores_unicos = df.nunique()

# Obtener el número total de valores en cada columna
total_valores = df.count()

# Combinar los resultados en un nuevo DataFrame
resumen_valores_unicos = pd.DataFrame({
    'Columna': valores_unicos.index,
    'Valores Únicos': valores_unicos.values,
    'Total Valores': total_valores.values
})

# Imprimir el resumen de valores únicos
print(resumen_valores_unicos)

                                    Columna  Valores Únicos  Total Valores
0                 Código de  la Institución             338         314808
1                                 IES PADRE             289         314808
2   Institución de Educación Superior (IES)             366         314808
3                    Principal  o Seccional               2         314808
4                             ID Sector IES               2         314808
5                                Sector IES               2         314808
6                               ID Caracter               4         314808
7                              Caracter IES               7         314808
8            Código del  departamento (IES)              29         314808
9      Departamento de  domicilio de la IES              47         314808
10              Código del  Municipio (IES)              77         314808
11         Municipio de domicilio de la IES             116         314808
12               Código  SNIES del programa           15032         314808
13                       Programa Académico            8980         314808
14                       ID Nivel Académico               4         314808
15                          Nivel Académico               3         314808
16                    ID Nivel de Formación              12         314808
17                       Nivel de Formación              17         314808
18                           ID Metodología               7         314808
19                              Metodología              11         314808
20                                  ID Área              12         314808
21                     Área de Conocimiento              16         314808
22                                Id_Nucleo              66         314808
23     Núcleo Básico del Conocimiento (NBC)             122         314808
24      Código del  Departamento (Programa)              39         314808
25      Departamento de oferta del programa              55         314808
26         Código del  Municipio (Programa)             740         314808
27         Municipio de oferta del programa             877         314808
28                                  ID Sexo               2         314808
29                                     Sexo               4         314808
30                                      Año               7         314808
31                                 Semestre               2         314808
32                       Inscripciones 2018            1791         314808

In [63]:
df['Sexo'].unique()

array(['Femenino', 'Masculino', 'Hombre', 'Mujer'], dtype=object)