# Librerias

In [145]:
import pandas as pd
import os

In [146]:
'''
# Crear la carpeta "data_python"
os.mkdir("data_python")

# Crear las subcarpetas "estudiantes" y "administrativos" dentro de "data_python"
os.mkdir(os.path.join("data_python", "estudiantes"))
os.mkdir(os.path.join("data_python", "administrativos"))
'''

'\n# Crear la carpeta "data_python"\nos.mkdir("data_python")\n\n# Crear las subcarpetas "estudiantes" y "administrativos" dentro de "data_python"\nos.mkdir(os.path.join("data_python", "estudiantes"))\nos.mkdir(os.path.join("data_python", "administrativos"))\n'

# Leer los datos

In [147]:
# Leer el archivo .xlsx en un DataFrame
df_2014 = pd.read_excel('data_python/estudiantes/2014__recurso.xlsx')
df_2015 = pd.read_excel('data_python/estudiantes/2015__recurso.xlsx')
df_2016 = pd.read_excel('data_python/estudiantes/2016__recurso.xlsx')
df_2017 = pd.read_excel('data_python/estudiantes/2017__recurso.xlsx')
df_2018 = pd.read_excel('data_python/estudiantes/2018__recurso.xlsx')
df_2019 = pd.read_excel('data_python/estudiantes/2019__recurso.xlsx')
df_2020 = pd.read_excel('data_python/estudiantes/2020__recurso.xlsx')

# Dar formato

In [148]:
def eliminar_filas_iniciales(df, n):
    df = df.iloc[n:].reset_index(drop=True)  # Eliminar las primeras n filas y restablecer los índices
    df.columns = df.iloc[0]  # Establecer la nueva primera fila como encabezado
    df = df[1:].reset_index(drop=True)  # Eliminar la antigua primera fila y restablecer los índices nuevamente
    return df

In [149]:
df_m_2014 = eliminar_filas_iniciales(df_2014, 5)
df_m_2015 = eliminar_filas_iniciales(df_2015, 5)
df_m_2016 = eliminar_filas_iniciales(df_2016, 5)
df_m_2017 = eliminar_filas_iniciales(df_2017, 5)
df_m_2018 = eliminar_filas_iniciales(df_2018, 7)
df_m_2019 = eliminar_filas_iniciales(df_2019, 8)
df_m_2020 = eliminar_filas_iniciales(df_2020, 8)

In [150]:
df_m_2020.head(2)

,CÓDIGO DE LA INSTITUCIÓN,IES_PADRE,INSTITUCIÓN DE EDUCACIÓN SUPERIOR (IES),PRINCIPAL O SECCIONAL,ID SECTOR,IES\tSECTOR IES,ID CARACTER,CARACTER IES,CÓDIGO DEL DEPARTAMENTO (IES),DEPARTAMENTO DE DOMICILIO DE LA IES,CÓDIGO DEL MUNICIPIO (IES),MUNICIPIO DE DOMICILIO DE LA IES,CÓDIGO SNIES DEL PROGRAMA,PROGRAMA ACADÉMICO,ID NIVEL ACADÉMICO,NIVEL ACADÉMICO,ID NIVEL DE FORMACIÓN,NIVEL DE FORMACIÓN,ID METODOLOGÍA,METODOLOGÍA,ID ÁREA,ÁREA DE CONOCIMIENTO,ID NÚCLEO,NÚCLEO BÁSICO DEL CONOCIMIENTO (NBC),ID CINE CAMPO AMPLIO,DESC CINE CAMPO AMPLIO,ID CINE CAMPO ESPECIFICO,DESC CINE CAMPO ESPECIFICO,ID CINE CODIGO DETALLADO,DESC CINE CODIGO DETALLADO,CÓDIGO DEL DEPARTAMENTO (PROGRAMA),DEPARTAMENTO DE OFERTA DEL PROGRAMA,CÓDIGO DEL MUNICIPIO (PROGRAMA),MUNICIPIO DE OFERTA DEL PROGRAMA,ID SEXO,SEXO,AÑO,SEMESTRE,INSCRITOS
0,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,Principal,1,OFICIAL,4,Universidad,11,Bogotá D.C.,11001,"Bogotá, D.C.",1,INGENIERIA AGRONOMICA,01,PREGRADO,06,Universitaria,01,Presencial,8,"Ingeniería, arquitectura, urbanismo y afines",824,"Ingeniería agronómica, pecuaria y afines",8,"Agropecuario, Silvicultura, Pesca y Veterinaria",81,Agropecuario,811,Producción agrícola y ganadera,11,Bogotá D.C.,11001,"Bogotá, D.C.",1,Hombre,2020,1,87
1,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,Principal,1,OFICIAL,4,Universidad,11,Bogotá D.C.,11001,"Bogotá, D.C.",1,INGENIERIA AGRONOMICA,01,PREGRADO,06,Universitaria,01,Presencial,8,"Ingeniería, arquitectura, urbanismo y afines",824,"Ingeniería agronómica, pecuaria y afines",8,"Agropecuario, Silvicultura, Pesca y Veterinaria",81,Agropecuario,811,Producción agrícola y ganadera,11,Bogotá D.C.,11001,"Bogotá, D.C.",1,Hombre,2020,2,49

In [151]:
pd.set_option('display.max_columns', None)
df_m_2020.describe()

,CÓDIGO DE LA INSTITUCIÓN,IES_PADRE,INSTITUCIÓN DE EDUCACIÓN SUPERIOR (IES),PRINCIPAL O SECCIONAL,ID SECTOR,IES\tSECTOR IES,ID CARACTER,CARACTER IES,CÓDIGO DEL DEPARTAMENTO (IES),DEPARTAMENTO DE DOMICILIO DE LA IES,CÓDIGO DEL MUNICIPIO (IES),MUNICIPIO DE DOMICILIO DE LA IES,CÓDIGO SNIES DEL PROGRAMA,PROGRAMA ACADÉMICO,ID NIVEL ACADÉMICO,NIVEL ACADÉMICO,ID NIVEL DE FORMACIÓN,NIVEL DE FORMACIÓN,ID METODOLOGÍA,METODOLOGÍA,ID ÁREA,ÁREA DE CONOCIMIENTO,ID NÚCLEO,NÚCLEO BÁSICO DEL CONOCIMIENTO (NBC),ID CINE CAMPO AMPLIO,DESC CINE CAMPO AMPLIO,ID CINE CAMPO ESPECIFICO,DESC CINE CAMPO ESPECIFICO,ID CINE CODIGO DETALLADO,DESC CINE CODIGO DETALLADO,CÓDIGO DEL DEPARTAMENTO (PROGRAMA),DEPARTAMENTO DE OFERTA DEL PROGRAMA,CÓDIGO DEL MUNICIPIO (PROGRAMA),MUNICIPIO DE OFERTA DEL PROGRAMA,ID SEXO,SEXO,AÑO,SEMESTRE,INSCRITOS
count,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390,52390
unique,321,275,275,2,2,2,4,4,28,28,72,72,10982,5244,2,2,10,10,5,5,10,10,57,57,12,12,40,40,107,105,34,34,372,364,2,2,1,2,825
top,2102,2102,UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA UNAD,Principal,2,PRIVADA,4,Universidad,11,Bogotá D.C.,11001,"Bogotá, D.C.",SIN PROGRAMA ESPECIFICO,ADMINISTRACION DE EMPRESAS,01,PREGRADO,06,Universitaria,01,Presencial,6,"Economía, administración, contaduría y afines",69,Administración,4,Administración de Empresas y Derecho,41,Educación comercial y administración,413,Gestión y administración,11,Bogotá D.C.,11001,"Bogotá, D.C.",1,Hombre,2020,1,1
freq,9223,9223,9223,49023,26682,26682,33714,33714,29371,29371,29371,29371,790,1119,35474,35474,22514,22514,34907,34907,15797,15797,12088,12088,17259,17259,14150,14150,8650,8650,11609,11609,11609,11609,26628,26628,52390,26536,6669

In [152]:
df_m_2014.describe()

,Código de \nla Institución,IES PADRE,Institución de Educación Superior (IES),Principal\n o\nSeccional,Id_Sector,Sector IES,Id_Caracter,Caracter IES,Código del \ndepartamento\n(IES),Departamento de \ndomicilio de la IES,Código del \nMunicipio\n(IES),Municipio de\ndomicilio de la IES,Código \nSNIES del\nprograma,Programa Académico,Id_Nivel,Nivel Académico,Id_Nivel_Formacion,Nivel de Formación,Id_Metodologia,Metodología,Id_Area,Área de Conocimiento,Id_Nucleo,Núcleo Básico del Conocimiento (NBC),Código del \nDepartamento\n(Programa),Departamento de oferta del programa,Código del \nMunicipio\n(Programa),Municipio de oferta del programa,Id Género,Género,Año,Semestre,Inscritos 2014
count,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475,38475
unique,318,272,272,2,2,2,4,4,28,28,73,73,8436,3606,2,2,6,6,3,3,8,8,62,56,33,33,291,284,2,2,1,2,752
top,2102,2102,UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA UNAD,PRINCIPAL,2,PRIVADA,4,UNIVERSIDAD,11,BOGOTA D.C.,11001,BOGOTA D.C.,3274,ADMINISTRACION DE EMPRESAS,1,PREGRADO,6,UNIVERSITARIA,1,PRESENCIAL,6,ECONOMIA ADMINISTRACION CONTADURIA Y AFINES,69,ADMINISTRACION,11,BOGOTA D.C.,11001,BOGOTA D.C.,1,MASCULINO,2014,1,1
freq,4471,4471,4471,35905,21659,21659,24518,24518,20053,20053,20053,20053,231,1277,27758,27758,16780,16780,28214,28214,12330,12330,8755,8755,9361,9361,9361,9361,19547,19547,38475,19605,4317

In [153]:
df_m_2019.columns

Index(['CÓDIGO DE LA INSTITUCIÓN', 'IES_PADRE',
       'INSTITUCIÓN DE EDUCACIÓN SUPERIOR (IES)', 'PRINCIPAL O SECCIONAL',
       'ID SECTOR IES', 'SECTOR IES', 'ID CARACTER', 'CARACTER IES',
       'CÓDIGO DEL DEPARTAMENTO (IES)', 'DEPARTAMENTO DE DOMICILIO DE LA IES',
       'CÓDIGO DEL MUNICIPIO', 'MUNICIPIO DE DOMICILIO DE LA IES',
       'CÓDIGO SNIES DEL PROGRAMA', 'PROGRAMA ACADÉMICO', 'ID NIVEL ACADÉMICO',
       'NIVEL ACADÉMICO', 'ID NIVEL DE FORMACIÓN', 'NIVEL DE FORMACIÓN',
       'ID METODOLOGÍA', 'METODOLOGÍA', 'ID ÁREA', 'ÁREA DE CONOCIMIENTO',
       'ID NÚCLEO', 'NÚCLEO BÁSICO DEL CONOCIMIENTO (NBC)',
       'ID CINE CAMPO AMPLIO', 'DESC CINE CAMPO AMPLIO',
       'ID CINE CAMPO ESPECIFICO', 'DESC CINE CAMPO ESPECIFICO',
       'ID CINE CODIGO DETALLADO', 'DESC CINE CODIGO DETALLADO',
       'CÓDIGO DEL DEPARTAMENTO (PROGRAMA)',
       'DEPARTAMENTO DE OFERTA DEL PROGRAMA',
       'CÓDIGO DEL MUNICIPIO (PROGRAMA)', 'MUNICIPIO DE OFERTA DEL PROGRAMA',
       'ID SEXO', 'SEXO', 'AÑO', 'SEMESTRE', 'INSCRITOS '],
      dtype='object', name=0)

In [154]:
columnas_a_eliminar = [
    'ID CINE CAMPO AMPLIO', 'DESC CINE CAMPO AMPLIO',
    'ID CINE CAMPO ESPECIFICO', 'DESC CINE CAMPO ESPECIFICO',
    'ID CINE CODIGO DETALLADO', 'DESC CINE CODIGO DETALLADO'
]

In [155]:
df_m_2019 = df_m_2019.drop(columnas_a_eliminar, axis=1)
df_m_2020 = df_m_2020.drop(columnas_a_eliminar, axis=1)

# Unir los df

In [156]:
print(df_m_2014.shape)
print(df_m_2015.shape)
print(df_m_2016.shape)
print(df_m_2017.shape)
print(df_m_2018.shape)
print(df_m_2019.shape)
print(df_m_2020.shape)

(38475, 33)
(40419, 33)
(42764, 33)
(45804, 33)
(44756, 33)
(50200, 33)
(52390, 33)

In [157]:
df_m_2018 = df_m_2018.rename(columns=lambda x: x.replace("\n", " "))
nuevos_nombres = df_m_2018.columns

In [158]:
# Renombrar las columnas 
df_m_2014.columns = nuevos_nombres
df_m_2015.columns = nuevos_nombres
df_m_2016.columns = nuevos_nombres
df_m_2017.columns = nuevos_nombres
df_m_2018.columns = nuevos_nombres
df_m_2019.columns = nuevos_nombres
df_m_2020.columns = nuevos_nombres

In [159]:
df_concatenado = pd.concat([df_m_2014, df_m_2015, df_m_2016, df_m_2017, df_m_2018, df_m_2019, df_m_2020], axis=0)
df = df_concatenado.reset_index(drop=True)

In [160]:
print(df.shape)

(314808, 33)

# Dar formato a los datos

In [161]:
lista = df.columns
for valor in lista:
    # Convertir la columna 'comuna' en números
    def convertir_a_numero(valor):
        try:
            return int(valor)
        except ValueError:
            return valor

    df[valor] = [convertir_a_numero(valor) for valor in df[valor]]

In [162]:
for i in lista:
    df[i] = df[i].apply(lambda x: x.title() if isinstance(x, str) else x)

# Limpiar los datos

In [163]:
# Obtenenos los valores unicos y vemos comapramos si un valor tiene mas de un codigo
def obtener_diccionario(df, columna_a, columna_b, n = 2):
    codigos_unicos = df[columna_a].unique()
    diccionario = {}

    # Iterar sobre los códigos únicos
    for codigo in codigos_unicos:
        # Obtener los valores únicos de los nombres para cada código
        nombres_unicos = df[df[columna_a] == codigo][columna_b].unique()

        # Verificar si hay más de 2 valores únicos de nombres
        if len(nombres_unicos) >= n:
            # Asignar los nombres únicos como valor para cada código en el diccionario
            diccionario[codigo] = nombres_unicos.tolist()

    return diccionario

resultado1 = obtener_diccionario(df, 'IES PADRE', 'Institución de Educación Superior (IES)')
resultado2 = obtener_diccionario(df, 'Institución de Educación Superior (IES)', 'IES PADRE')
print(resultado1)
print(resultado2)

{1206: ['Universidad De Nariño', 'Universidad De Nari¿O'], 1726: ['Universidad Catolica De Oriente', 'Universidad Catolica De Oriente -Uco'], 1804: ['Universidad Autonoma Del Caribe', 'Universidad Autonoma Del Caribe- Uniautonoma'], 1826: ['Universidad Antonio Nariño', 'Universidad Antonio Nari¿O'], 1835: ['Universidad De Ciencias Aplicadas Y Ambientales Udca.', 'Universidad De Ciencias Aplicadas Y Ambientales - Udca'], 2211: ['Institucion Universitaria Bellas Artes Y Ciencias De Bolivar', 'Institucion Universitaria Bellas Artes Y Ciencias De Bol'], 2707: ['Fundacion Universitaria Juan N. Corpas', 'Fundaci¿N Universitaria Juan N. Corpas'], 2719: ['Fundacion Universitaria Luis Amigo Funlam', 'Universidad Católica Luis Amigó-Funlam', 'Universidad Cat¿Lica Luis Amig¿'], 2731: ['Fundacion Universitaria Catolica Lumen Gentium', 'Fundacion Universitaria Catolica Lumen Gentium - Unicat¿Lica - Cali'], 2738: ['Fundacion Univesitaria Empresarial De La Camara De Comercio De Bogota', 'Fundacion Universitaria Empresarial De La Camara De Comercio De Bogota', 'Fundacion Universitaria Empresarial De La Camara De Come'], 2739: ['Fundacion De Estudios Superiores Universitarios De Uraba Antonio Roldan Betancur', 'Fundacion De Estudios Superiores Universitarios De Uraba'], 2741: ['Fundacion De Estudios Superiores - Monseñor Abraham Escudero Montoya  - Fundes', 'Fundacion De Estudios Superiores - Monseñor Abraham Escu'], 2743: ['Fundacion Universitaria Internacional Del Tropico Americano', 'Fundacion Universitaria Internacional Del Tropico Americ'], 2744: ['Institucion Universitaria Centro De Estudios Superiores Maria Goretti', 'Universidad Cesmag ¿ Unicesmag', 'Universidad Cesmag - Unicesmag'], 2745: ['Unipanamericana - Fundacion Universitaria Panamericana', 'Fundaci¿N Universitaria Compensar'], 2748: ['Fundacion Universitaria Seminario Teologico Bautista Internacional', 'Fundacion Universitaria Seminario Teologico Bautista Int'], 2818: ['Corporacion Universitaria De Santa Rosa De Cabal-Unisarc-', 'Corporacion Universitaria De Santa Rosa De Cabal-Unisarc'], 2822: ['Escuela Superior De Oftalmologia, Instituto Barraquer De America', 'Escuela Superior De Oftalmologia, Instituto Barraquer De'], 2827: ['Corporacion Universitaria Del Meta', 'Corporacion Universitaria Del Meta - Unimeta'], 2831: ['Corporacion Universitaria De Ciencia Y Desarrollo - Uniciencia', 'Corporacion Universitaria De Ciencia Y Desarrollo - Unic'], 2840: ['Corporacion Universitaria Empresarial Alexander Von Humboldt - Cue', 'Corporacion Universitaria Empresarial Alexander Von Humb'], 2847: ['Corporacion Universitaria De Investigacion Y Desarrollo - Udi', 'Corporacion Universidad De Investigacion Y Desarrollo - Udi', 'Corporacion Universidad De Investigacion Y Desarrollo -'], 2850: ['Corporacion Universitaria Antonio Jose De Sucre - Corposucre', 'Corporacion Universitaria Antonio Jose De Sucre - Corpos'], 2901: ['Escuela De Inteligencia Y Contrainteligencia Brigadier General Ricardo Charry Solano', 'Escuela De Inteligencia Y Contrainteligencia Brigadier G'], 2904: ['Escuela Superior De Guerra', 'Escuela Superior De Guerra General Rafael Reyes Prieto'], 2906: ['Escuela De Postgrados De La Fuerza Aerea Colombiana Capitan Jose Edmundo Sandoval - Epfac', 'Escuela De Postgrados De La Fuerza Aerea Colombiana Capi'], 3117: ['Instituci¿N Universitaria Itsa', 'Institución Universitaria Itsa'], 3705: ['Fundacion Universitaria Tecnologico Comfenalco - Cartagena', 'Fundacion Universitaria Tecnologico Comfenalco - Cartage'], 3706: ['Fundacion Centro Colombiano De Estudios Profesionales, -F.C.E.C.E.P.', 'Fundacion Centro Colombiano De Estudios Profesionales, -'], 3710: ['Fundacion Tecnologica Antonio De Arevalo', 'Fundacion Universitaria Antonio De Arevalo - Unitecnar'], 3712: ['Fundacion Centro De Investigacion Docencia Y Consultoria Administrativa-F-Cidca-', 'Fundacion Centro De Investigacion Docencia Y Consultoria'], 3713: ['Fundacion Universitaria Para El Desarrollo Humano - Uninpahu', 'Fundacion Universitaria Para El Desarrollo Humano - Unin'], 3806: ['Corporacion Escuela Superior De Administracion Y Estudios Tecnologicos- Eae', 'Corporacion Escuela Superior De Administracion Y Estudio'], 3808: ['Corporacion Tecnologica De Bogota - Ctb -', 'Corporacion Tecnologica De Bogota - Ctb - '], 3809: ['Instituto Superior De Ciencias Sociales Y Economico Familiares-Icsef-', 'Instituto Superior De Ciencias Sociales Y Economico Fami'], 3811: ['Corporacion De Educacion Del Norte Del Tolima - Coreducacion', 'Corporacion De Educacion Del Norte Del Tolima - Coreduca'], 3812: ['Corporacion Politecnico Marco Fidel Suarez', 'Institucion Universitaria Marco Fidel Suarez - Iumafis'], 3826: ['Corporacion Internacional Para El Desarrollo Educativo -Cide-', 'Corporacion Internacional Para El Desarrollo Educativo -'], 3902: ['Escuela  Militar De Suboficiales Sargento Inocencio Chinca', 'Escuela  Militar De Suboficiales Sargento Inocencio Chin'], 4102: ['Instituto Nacional De Formacion Tecnica Profesional De San Juan Del Cesar', 'Instituto Nacional De Formacion Tecnica Profesional De S'], 4106: ['Instituto Nacional De Formacion Tecnica Profesional De San Andres', 'Instituto Nacional De Formacion Tecnica Profesional De S'], 4109: ['Instituto Tecnico Nacional De Comercio Simon Rodriguez - Intenalco', 'Instituto Tecnico Nacional De Comercio Simon Rodriguez -'], 4111: ['Instituto Nacional De Formacion Tecnica Profesional - Humberto Velasquez Garcia', 'Instituto Nacional De Formacion Tecnica Profesional - Hu'], 4709: ['Escuela De Administracion Y Mercadotecnia Del Quindio E.A.M.', 'Institucion Universitaria Eam'], 4726: ['Fundacion Para La Educacion Superior San Mateo', 'Fundacion Universitaria San Mateo - San Mateo Educacion Superior', 'Fundacion Universitaria San Mateo - San Mateo Educacion'], 4727: ['Politecnico Internacional Institucion De Educacion Superior', 'Politecnico Internacional Institucion De Educacion Super'], 4806: ['Corporacion Centro De Estudios Artisticos Y Tecnicos-Ceart-', 'Corporacion Centro De Estudios Artisticos Y Tecnicos-Cea'], 4812: ['Corporacion Centro De Nuestra Señora De Las Mercedes', 'Corporacion De Educacion Superior Suramerica'], 4813: ['Corporacion Unificada Nacional De Educacion Superior-Cun-', 'Corporacion Unificada Nacional De Educacion Superior-Cun'], 4825: ['Corporacion Instituto De Administracion Y Finanzas - Ciaf', 'Corporacion Instituto De Administracion Y Finanzas - Cia'], 4835: ['Corporacion Universitaria Taller 5 Centro De Dise¿O', 'Corporacion Universitaria Taller Cinco', 'Corporacion Universitaria Taller Cinco Centro De Dise¿O'], 4837: ['Corporacion Universitaria De Ciencias Empresariales, Educacion Y Salud -Corsalud-', 'Corporacion Universitaria De Ciencias Empresariales, Edu'], 9102: ['Escuela De Suboficiales De La Fuerza Aerea Colombiana Andres M. Diaz', 'Escuela De Suboficiales De La Fuerza Aerea Colombiana An'], 9117: ['Fundacion Politecnica - Corpo', 'Escuela Internacional De Estudios Superiores - Inter'], 9121: ['Fundacion Universitaria Colombo Internacional - Unicolombo', 'Fundacion Universitaria Colombo Internacional - Unicolom'], 9124: ['Fundacion Tecnologica Rural Coredi - Funtec', 'Tecnologico Coredi'], 9129: ['Fundacion Universitaria Cafam', 'Fundacion Universitaria Cafam -Unicafam'], 9131: ['Fundacion Universitaria Cervantina San Agustin - Unicervantina San Agustin', 'Fundaci¿N Universitaria Cervantes San Agust¿N - Unicervantes', 'Fundación Universitaria Cervantes San Agustín - Unicerva'], 9899: ['Institucion Universitaria De Colombia - Universitaria De Colombia', 'Institucion Universitaria De Colombia - Universitaria De'], 9903: ['Corporacion De Educacion Tecnologica Colsubsidio Eads', 'Corporacion De Educacion Tecnologica Colsubsidio- Airbus Group', 'Corporacion De Educacion Tecnologica Colsubsidio- Airbus'], 9904: ['Fundacion Tecnologica Colombo Germana', 'Fundacion Universitaria Colombo Germana'], 9905: ['Fundacion Escuela Tecnologica De Neiva - Jesus Oviedo Perez -Fet', 'Fundacion Escuela Tecnologica De Neiva - Jesus Oviedo Pe'], 9906: ['Corporacion Universitaria Para El Desarrollo Empresarial Y Social- Cudes', 'Corporacion Universitaria Para El Desarrollo Empresarial'], 9910: ['Fundacion Universitaria Luis G. Paez', 'Fundacion Universitaria Luis G. Paez - Uniluisgpaez'], 9914: ['Elite- Escuela Latinoamericana De Ingenieros, Tecnologos Y Empresarios', 'Elite- Escuela Latinoamericana De Ingenieros, Tecnologos', 'Eseit ¿ Escuela Superior De Empresa, Ingenier¿A Y Tecnolog¿A'], 3828: ['Tecnologica Del Sur', 'Corporaci¿N Tecnol¿Gica De Educaci¿N Superior Sapienza -Cte-'], 9921: ['Fundacion Universitaria Catolica Del Sur - Unicatolica Del Sur', 'Fundacion Universitaria Catolica Del Sur - Unicatolica D'], 9927: ['Institucion Universitaria Digital De Antioquia -Iu. Digi', 'Institucion Universitaria Digital De Antioquia -Iu. Digital'], 9929: ['Universidad Autónoma Indígena Intercultural - Uaiin', 'Universidad Aut¿Noma Ind¿Gena Intercultural - Uaiin']}
{'Instituto Nacional De Formacion Tecnica Profesional De S': [4102, 4106]}

Instituto Nacional De Formacion Tecnica Profesional De S' es el único que tiene dos códigos. Manualmente, lo pondremos como 'Instituto Nacional De Formacion Tecnica Profesional De San Juan Del Cesar' cuando el código sea 4102, y como 'Instituto Nacional De Formacion Tecnica Profesional De San Andres' cuando el código sea 4106
* 4102: ['Instituto Nacional De Formacion Tecnica Profesional De San Juan Del Cesar', 'Instituto Nacional De Formacion Tecnica Profesional De S'],
* 4106: ['Instituto Nacional De Formacion Tecnica Profesional De San Andres', 'Instituto Nacional De Formacion Tecnica Profesional De S'],

In [164]:
# Filtrar y asignar el valor 
df.loc[df['IES PADRE'] == 4102, 'Institución de Educación Superior (IES)'] = 'Instituto Nacional De Formacion Tecnica Profesional De San Juan Del Cesar'
df.loc[df['IES PADRE'] == 4106, 'Institución de Educación Superior (IES)'] = 'Instituto Nacional De Formacion Tecnica Profesional De San Andres'

In [165]:
# Esta funcion entrega un diccionario con los valores a ser reemplazado 
def obtener_diccionario_remplaza(d_f, col_codigos, col_valores):
    codigos_unicos = d_f[col_codigos].unique()
    diccionario = {}
    
    for codigo in codigos_unicos:
        nombres_unicos = d_f[df[col_codigos] == codigo][col_valores].unique()
        
        if len(nombres_unicos) > 1:
            diccionario[codigo] = nombres_unicos.tolist()

    lista_valores = [valor[0] for valor in diccionario.values()]
    diccionario_actualizado = {lista_valores[i]: valor for i, valor in enumerate(diccionario.values())}
    diccionario_invertido = {}

    for clave, valores in diccionario_actualizado.items():
        for valor in valores:
            diccionario_invertido.setdefault(valor, []).append(clave)
    
    return diccionario_invertido

In [166]:
# Obtenemos los valores a remplazar
p2 = obtener_diccionario_remplaza(df, 'Código de  la Institución', 'Institución de Educación Superior (IES)')
print(p2)

{'Universidad De Nariño': ['Universidad De Nariño'], 'Universidad De Nari¿O': ['Universidad De Nariño'], 'Universidad Catolica De Oriente': ['Universidad Catolica De Oriente'], 'Universidad Catolica De Oriente -Uco': ['Universidad Catolica De Oriente'], 'Universidad Autonoma Del Caribe': ['Universidad Autonoma Del Caribe'], 'Universidad Autonoma Del Caribe- Uniautonoma': ['Universidad Autonoma Del Caribe'], 'Universidad Antonio Nariño': ['Universidad Antonio Nariño'], 'Universidad Antonio Nari¿O': ['Universidad Antonio Nariño'], 'Universidad De Ciencias Aplicadas Y Ambientales Udca.': ['Universidad De Ciencias Aplicadas Y Ambientales Udca.'], 'Universidad De Ciencias Aplicadas Y Ambientales - Udca': ['Universidad De Ciencias Aplicadas Y Ambientales Udca.'], 'Institucion Universitaria Bellas Artes Y Ciencias De Bolivar': ['Institucion Universitaria Bellas Artes Y Ciencias De Bolivar'], 'Institucion Universitaria Bellas Artes Y Ciencias De Bol': ['Institucion Universitaria Bellas Artes Y Ciencias De Bolivar'], 'Fundacion Universitaria Juan N. Corpas': ['Fundacion Universitaria Juan N. Corpas'], 'Fundaci¿N Universitaria Juan N. Corpas': ['Fundacion Universitaria Juan N. Corpas'], 'Fundacion Universitaria Luis Amigo Funlam': ['Fundacion Universitaria Luis Amigo Funlam'], 'Universidad Católica Luis Amigó-Funlam': ['Fundacion Universitaria Luis Amigo Funlam'], 'Universidad Cat¿Lica Luis Amig¿': ['Fundacion Universitaria Luis Amigo Funlam'], 'Fundacion Universitaria Catolica Lumen Gentium': ['Fundacion Universitaria Catolica Lumen Gentium'], 'Fundacion Universitaria Catolica Lumen Gentium - Unicat¿Lica - Cali': ['Fundacion Universitaria Catolica Lumen Gentium'], 'Fundacion Univesitaria Empresarial De La Camara De Comercio De Bogota': ['Fundacion Univesitaria Empresarial De La Camara De Comercio De Bogota'], 'Fundacion Universitaria Empresarial De La Camara De Comercio De Bogota': ['Fundacion Univesitaria Empresarial De La Camara De Comercio De Bogota'], 'Fundacion Universitaria Empresarial De La Camara De Come': ['Fundacion Univesitaria Empresarial De La Camara De Comercio De Bogota'], 'Fundacion De Estudios Superiores Universitarios De Uraba Antonio Roldan Betancur': ['Fundacion De Estudios Superiores Universitarios De Uraba Antonio Roldan Betancur'], 'Fundacion De Estudios Superiores Universitarios De Uraba': ['Fundacion De Estudios Superiores Universitarios De Uraba Antonio Roldan Betancur'], 'Fundacion De Estudios Superiores - Monseñor Abraham Escudero Montoya  - Fundes': ['Fundacion De Estudios Superiores - Monseñor Abraham Escudero Montoya  - Fundes'], 'Fundacion De Estudios Superiores - Monseñor Abraham Escu': ['Fundacion De Estudios Superiores - Monseñor Abraham Escudero Montoya  - Fundes'], 'Fundacion Universitaria Internacional Del Tropico Americano': ['Fundacion Universitaria Internacional Del Tropico Americano'], 'Fundacion Universitaria Internacional Del Tropico Americ': ['Fundacion Universitaria Internacional Del Tropico Americano'], 'Institucion Universitaria Centro De Estudios Superiores Maria Goretti': ['Institucion Universitaria Centro De Estudios Superiores Maria Goretti'], 'Universidad Cesmag ¿ Unicesmag': ['Institucion Universitaria Centro De Estudios Superiores Maria Goretti'], 'Universidad Cesmag - Unicesmag': ['Institucion Universitaria Centro De Estudios Superiores Maria Goretti'], 'Unipanamericana - Fundacion Universitaria Panamericana': ['Unipanamericana - Fundacion Universitaria Panamericana'], 'Fundaci¿N Universitaria Compensar': ['Unipanamericana - Fundacion Universitaria Panamericana'], 'Fundacion Universitaria Seminario Teologico Bautista Internacional': ['Fundacion Universitaria Seminario Teologico Bautista Internacional'], 'Fundacion Universitaria Seminario Teologico Bautista Int': ['Fundacion Universitaria Seminario Teologico Bautista Internacional'], 'Corporacion Universitaria De Santa Rosa De Cabal-Unisarc-': ['Corporacion Universitaria De Santa Rosa De Cabal-Unisarc-'], 'Corporacion Universitaria De Santa Rosa De Cabal-Unisarc': ['Corporacion Universitaria De Santa Rosa De Cabal-Unisarc-'], 'Escuela Superior De Oftalmologia, Instituto Barraquer De America': ['Escuela Superior De Oftalmologia, Instituto Barraquer De America'], 'Escuela Superior De Oftalmologia, Instituto Barraquer De': ['Escuela Superior De Oftalmologia, Instituto Barraquer De America'], 'Corporacion Universitaria Del Meta': ['Corporacion Universitaria Del Meta'], 'Corporacion Universitaria Del Meta - Unimeta': ['Corporacion Universitaria Del Meta'], 'Corporacion Universitaria De Ciencia Y Desarrollo - Uniciencia': ['Corporacion Universitaria De Ciencia Y Desarrollo - Uniciencia'], 'Corporacion Universitaria De Ciencia Y Desarrollo - Unic': ['Corporacion Universitaria De Ciencia Y Desarrollo - Uniciencia'], 'Corporacion Universitaria Empresarial Alexander Von Humboldt - Cue': ['Corporacion Universitaria Empresarial Alexander Von Humboldt - Cue'], 'Corporacion Universitaria Empresarial Alexander Von Humb': ['Corporacion Universitaria Empresarial Alexander Von Humboldt - Cue'], 'Corporacion Universitaria De Investigacion Y Desarrollo - Udi': ['Corporacion Universitaria De Investigacion Y Desarrollo - Udi'], 'Corporacion Universidad De Investigacion Y Desarrollo - Udi': ['Corporacion Universitaria De Investigacion Y Desarrollo - Udi'], 'Corporacion Universidad De Investigacion Y Desarrollo -': ['Corporacion Universitaria De Investigacion Y Desarrollo - Udi'], 'Corporacion Universitaria Antonio Jose De Sucre - Corposucre': ['Corporacion Universitaria Antonio Jose De Sucre - Corposucre'], 'Corporacion Universitaria Antonio Jose De Sucre - Corpos': ['Corporacion Universitaria Antonio Jose De Sucre - Corposucre'], 'Escuela De Inteligencia Y Contrainteligencia Brigadier General Ricardo Charry Solano': ['Escuela De Inteligencia Y Contrainteligencia Brigadier General Ricardo Charry Solano'], 'Escuela De Inteligencia Y Contrainteligencia Brigadier G': ['Escuela De Inteligencia Y Contrainteligencia Brigadier General Ricardo Charry Solano'], 'Escuela Superior De Guerra': ['Escuela Superior De Guerra'], 'Escuela Superior De Guerra General Rafael Reyes Prieto': ['Escuela Superior De Guerra'], 'Escuela De Postgrados De La Fuerza Aerea Colombiana Capitan Jose Edmundo Sandoval - Epfac': ['Escuela De Postgrados De La Fuerza Aerea Colombiana Capitan Jose Edmundo Sandoval - Epfac'], 'Escuela De Postgrados De La Fuerza Aerea Colombiana Capi': ['Escuela De Postgrados De La Fuerza Aerea Colombiana Capitan Jose Edmundo Sandoval - Epfac'], 'Instituci¿N Universitaria Itsa': ['Instituci¿N Universitaria Itsa'], 'Institución Universitaria Itsa': ['Instituci¿N Universitaria Itsa'], 'Fundacion Universitaria Tecnologico Comfenalco - Cartagena': ['Fundacion Universitaria Tecnologico Comfenalco - Cartagena'], 'Fundacion Universitaria Tecnologico Comfenalco - Cartage': ['Fundacion Universitaria Tecnologico Comfenalco - Cartagena'], 'Fundacion Centro Colombiano De Estudios Profesionales, -F.C.E.C.E.P.': ['Fundacion Centro Colombiano De Estudios Profesionales, -F.C.E.C.E.P.'], 'Fundacion Centro Colombiano De Estudios Profesionales, -': ['Fundacion Centro Colombiano De Estudios Profesionales, -F.C.E.C.E.P.'], 'Fundacion Tecnologica Antonio De Arevalo': ['Fundacion Tecnologica Antonio De Arevalo'], 'Fundacion Universitaria Antonio De Arevalo - Unitecnar': ['Fundacion Tecnologica Antonio De Arevalo'], 'Fundacion Centro De Investigacion Docencia Y Consultoria Administrativa-F-Cidca-': ['Fundacion Centro De Investigacion Docencia Y Consultoria Administrativa-F-Cidca-'], 'Fundacion Centro De Investigacion Docencia Y Consultoria': ['Fundacion Centro De Investigacion Docencia Y Consultoria Administrativa-F-Cidca-'], 'Fundacion Universitaria Para El Desarrollo Humano - Uninpahu': ['Fundacion Universitaria Para El Desarrollo Humano - Uninpahu'], 'Fundacion Universitaria Para El Desarrollo Humano - Unin': ['Fundacion Universitaria Para El Desarrollo Humano - Uninpahu'], 'Corporacion Escuela Superior De Administracion Y Estudios Tecnologicos- Eae': ['Corporacion Escuela Superior De Administracion Y Estudios Tecnologicos- Eae'], 'Corporacion Escuela Superior De Administracion Y Estudio': ['Corporacion Escuela Superior De Administracion Y Estudios Tecnologicos- Eae'], 'Corporacion Tecnologica De Bogota - Ctb -': ['Corporacion Tecnologica De Bogota - Ctb -'], 'Corporacion Tecnologica De Bogota - Ctb - ': ['Corporacion Tecnologica De Bogota - Ctb -'], 'Instituto Superior De Ciencias Sociales Y Economico Familiares-Icsef-': ['Instituto Superior De Ciencias Sociales Y Economico Familiares-Icsef-'], 'Instituto Superior De Ciencias Sociales Y Economico Fami': ['Instituto Superior De Ciencias Sociales Y Economico Familiares-Icsef-'], 'Corporacion De Educacion Del Norte Del Tolima - Coreducacion': ['Corporacion De Educacion Del Norte Del Tolima - Coreducacion'], 'Corporacion De Educacion Del Norte Del Tolima - Coreduca': ['Corporacion De Educacion Del Norte Del Tolima - Coreducacion'], 'Corporacion Politecnico Marco Fidel Suarez': ['Corporacion Politecnico Marco Fidel Suarez'], 'Institucion Universitaria Marco Fidel Suarez - Iumafis': ['Corporacion Politecnico Marco Fidel Suarez'], 'Corporacion Internacional Para El Desarrollo Educativo -Cide-': ['Corporacion Internacional Para El Desarrollo Educativo -Cide-'], 'Corporacion Internacional Para El Desarrollo Educativo -': ['Corporacion Internacional Para El Desarrollo Educativo -Cide-'], 'Escuela  Militar De Suboficiales Sargento Inocencio Chinca': ['Escuela  Militar De Suboficiales Sargento Inocencio Chinca'], 'Escuela  Militar De Suboficiales Sargento Inocencio Chin': ['Escuela  Militar De Suboficiales Sargento Inocencio Chinca'], 'Instituto Tecnico Nacional De Comercio Simon Rodriguez - Intenalco': ['Instituto Tecnico Nacional De Comercio Simon Rodriguez - Intenalco'], 'Instituto Tecnico Nacional De Comercio Simon Rodriguez -': ['Instituto Tecnico Nacional De Comercio Simon Rodriguez - Intenalco'], 'Instituto Nacional De Formacion Tecnica Profesional - Humberto Velasquez Garcia': ['Instituto Nacional De Formacion Tecnica Profesional - Humberto Velasquez Garcia'], 'Instituto Nacional De Formacion Tecnica Profesional - Hu': ['Instituto Nacional De Formacion Tecnica Profesional - Humberto Velasquez Garcia'], 'Escuela De Administracion Y Mercadotecnia Del Quindio E.A.M.': ['Escuela De Administracion Y Mercadotecnia Del Quindio E.A.M.'], 'Institucion Universitaria Eam': ['Escuela De Administracion Y Mercadotecnia Del Quindio E.A.M.'], 'Fundacion Para La Educacion Superior San Mateo': ['Fundacion Para La Educacion Superior San Mateo'], 'Fundacion Universitaria San Mateo - San Mateo Educacion Superior': ['Fundacion Para La Educacion Superior San Mateo'], 'Fundacion Universitaria San Mateo - San Mateo Educacion': ['Fundacion Para La Educacion Superior San Mateo'], 'Politecnico Internacional Institucion De Educacion Superior': ['Politecnico Internacional Institucion De Educacion Superior'], 'Politecnico Internacional Institucion De Educacion Super': ['Politecnico Internacional Institucion De Educacion Superior'], 'Corporacion Centro De Estudios Artisticos Y Tecnicos-Ceart-': ['Corporacion Centro De Estudios Artisticos Y Tecnicos-Ceart-'], 'Corporacion Centro De Estudios Artisticos Y Tecnicos-Cea': ['Corporacion Centro De Estudios Artisticos Y Tecnicos-Ceart-'], 'Corporacion Centro De Nuestra Señora De Las Mercedes': ['Corporacion Centro De Nuestra Señora De Las Mercedes'], 'Corporacion De Educacion Superior Suramerica': ['Corporacion Centro De Nuestra Señora De Las Mercedes'], 'Corporacion Unificada Nacional De Educacion Superior-Cun-': ['Corporacion Unificada Nacional De Educacion Superior-Cun-'], 'Corporacion Unificada Nacional De Educacion Superior-Cun': ['Corporacion Unificada Nacional De Educacion Superior-Cun-'], 'Corporacion Instituto De Administracion Y Finanzas - Ciaf': ['Corporacion Instituto De Administracion Y Finanzas - Ciaf'], 'Corporacion Instituto De Administracion Y Finanzas - Cia': ['Corporacion Instituto De Administracion Y Finanzas - Ciaf'], 'Corporacion Universitaria Taller 5 Centro De Dise¿O': ['Corporacion Universitaria Taller 5 Centro De Dise¿O'], 'Corporacion Universitaria Taller Cinco': ['Corporacion Universitaria Taller 5 Centro De Dise¿O'], 'Corporacion Universitaria Taller Cinco Centro De Dise¿O': ['Corporacion Universitaria Taller 5 Centro De Dise¿O'], 'Corporacion Universitaria De Ciencias Empresariales, Educacion Y Salud -Corsalud-': ['Corporacion Universitaria De Ciencias Empresariales, Educacion Y Salud -Corsalud-'], 'Corporacion Universitaria De Ciencias Empresariales, Edu': ['Corporacion Universitaria De Ciencias Empresariales, Educacion Y Salud -Corsalud-'], 'Escuela De Suboficiales De La Fuerza Aerea Colombiana Andres M. Diaz': ['Escuela De Suboficiales De La Fuerza Aerea Colombiana Andres M. Diaz'], 'Escuela De Suboficiales De La Fuerza Aerea Colombiana An': ['Escuela De Suboficiales De La Fuerza Aerea Colombiana Andres M. Diaz'], 'Fundacion Politecnica - Corpo': ['Fundacion Politecnica - Corpo'], 'Escuela Internacional De Estudios Superiores - Inter': ['Fundacion Politecnica - Corpo'], 'Fundacion Universitaria Colombo Internacional - Unicolombo': ['Fundacion Universitaria Colombo Internacional - Unicolombo'], 'Fundacion Universitaria Colombo Internacional - Unicolom': ['Fundacion Universitaria Colombo Internacional - Unicolombo'], 'Fundacion Tecnologica Rural Coredi - Funtec': ['Fundacion Tecnologica Rural Coredi - Funtec'], 'Tecnologico Coredi': ['Fundacion Tecnologica Rural Coredi - Funtec'], 'Fundacion Universitaria Cafam': ['Fundacion Universitaria Cafam'], 'Fundacion Universitaria Cafam -Unicafam': ['Fundacion Universitaria Cafam'], 'Fundacion Universitaria Cervantina San Agustin - Unicervantina San Agustin': ['Fundacion Universitaria Cervantina San Agustin - Unicervantina San Agustin'], 'Fundaci¿N Universitaria Cervantes San Agust¿N - Unicervantes': ['Fundacion Universitaria Cervantina San Agustin - Unicervantina San Agustin'], 'Fundación Universitaria Cervantes San Agustín - Unicerva': ['Fundacion Universitaria Cervantina San Agustin - Unicervantina San Agustin'], 'Institucion Universitaria De Colombia - Universitaria De Colombia': ['Institucion Universitaria De Colombia - Universitaria De Colombia'], 'Institucion Universitaria De Colombia - Universitaria De': ['Institucion Universitaria De Colombia - Universitaria De Colombia'], 'Corporacion De Educacion Tecnologica Colsubsidio Eads': ['Corporacion De Educacion Tecnologica Colsubsidio Eads'], 'Corporacion De Educacion Tecnologica Colsubsidio- Airbus Group': ['Corporacion De Educacion Tecnologica Colsubsidio Eads'], 'Corporacion De Educacion Tecnologica Colsubsidio- Airbus': ['Corporacion De Educacion Tecnologica Colsubsidio Eads'], 'Fundacion Tecnologica Colombo Germana': ['Fundacion Tecnologica Colombo Germana'], 'Fundacion Universitaria Colombo Germana': ['Fundacion Tecnologica Colombo Germana'], 'Fundacion Escuela Tecnologica De Neiva - Jesus Oviedo Perez -Fet': ['Fundacion Escuela Tecnologica De Neiva - Jesus Oviedo Perez -Fet'], 'Fundacion Escuela Tecnologica De Neiva - Jesus Oviedo Pe': ['Fundacion Escuela Tecnologica De Neiva - Jesus Oviedo Perez -Fet'], 'Corporacion Universitaria Para El Desarrollo Empresarial Y Social- Cudes': ['Corporacion Universitaria Para El Desarrollo Empresarial Y Social- Cudes'], 'Corporacion Universitaria Para El Desarrollo Empresarial': ['Corporacion Universitaria Para El Desarrollo Empresarial Y Social- Cudes'], 'Fundacion Universitaria Luis G. Paez': ['Fundacion Universitaria Luis G. Paez'], 'Fundacion Universitaria Luis G. Paez - Uniluisgpaez': ['Fundacion Universitaria Luis G. Paez'], 'Elite- Escuela Latinoamericana De Ingenieros, Tecnologos Y Empresarios': ['Elite- Escuela Latinoamericana De Ingenieros, Tecnologos Y Empresarios'], 'Elite- Escuela Latinoamericana De Ingenieros, Tecnologos': ['Elite- Escuela Latinoamericana De Ingenieros, Tecnologos Y Empresarios'], 'Eseit ¿ Escuela Superior De Empresa, Ingenier¿A Y Tecnolog¿A': ['Elite- Escuela Latinoamericana De Ingenieros, Tecnologos Y Empresarios'], 'Tecnologica Del Sur': ['Tecnologica Del Sur'], 'Corporaci¿N Tecnol¿Gica De Educaci¿N Superior Sapienza -Cte-': ['Tecnologica Del Sur'], 'Fundacion Universitaria Catolica Del Sur - Unicatolica Del Sur': ['Fundacion Universitaria Catolica Del Sur - Unicatolica Del Sur'], 'Fundacion Universitaria Catolica Del Sur - Unicatolica D': ['Fundacion Universitaria Catolica Del Sur - Unicatolica Del Sur'], 'Institucion Universitaria Digital De Antioquia -Iu. Digi': ['Institucion Universitaria Digital De Antioquia -Iu. Digi'], 'Institucion Universitaria Digital De Antioquia -Iu. Digital': ['Institucion Universitaria Digital De Antioquia -Iu. Digi'], 'Universidad Autónoma Indígena Intercultural - Uaiin': ['Universidad Autónoma Indígena Intercultural - Uaiin'], 'Universidad Aut¿Noma Ind¿Gena Intercultural - Uaiin': ['Universidad Autónoma Indígena Intercultural - Uaiin']}

In [167]:
# Reemplazamos los valores
p2 = {k: v[0] for k, v in p2.items()}
df["Institución de Educación Superior (IES)"] = df["Institución de Educación Superior (IES)"].replace(p2)

# lab

## caracter

In [168]:
resultado1 = obtener_diccionario(df, 'ID Caracter', 'Caracter IES')
resultado2 = obtener_diccionario(df, 'Caracter IES', 'ID Caracter')
print(resultado1)
print(resultado2)

{3: ['Institucion Universitaria/Escuela Tecnologica', 'Institución Universitaria/Escuela Tecnológica'], 2: ['Institucion Tecnologica', 'Institución Tecnológica'], 1: ['Institucion Tecnica Profesional', 'Institución Técnica Profesional']}
{}

In [169]:
# Obtenemos los valores a remplazar
p2 = obtener_diccionario_remplaza(df, 'ID Caracter', 'Caracter IES')
p2 = {k: v[0] for k, v in p2.items()}
df["Caracter IES"] = df["Caracter IES"].replace(p2)

## Departamento de  domicilio de la IES

In [170]:
resultado1 = obtener_diccionario(df, 'Código del  departamento (IES)', 'Departamento de  domicilio de la IES')
resultado2 = obtener_diccionario(df, 'Departamento de  domicilio de la IES', 'Código del  departamento (IES)')
print(resultado1)
print(resultado2)

{11: ['Bogota D.C.', 'Bogotá D.C', 'Bogota D.C', 'Bogotá D.C.'], 76: ['Valle Del Cauca', 'Valle Del C'], 15: ['Boyaca', 'Boyacá'], 23: ['Cordoba', 'Córdoba'], 18: ['Caqueta', 'Caquetá'], 27: ['Choco', 'Chocó'], 88: ['San Andres Y Providencia', 'San Andrés Y Providencia', 'Archipiélag', 'Archipiélago De San Andrés, Providencia Y Santa Catalina'], 8: ['Atlantico', 'Atlántico'], 13: ['Bolivar', 'Bolívar'], 52: ['Narino', 'Nariño'], 63: ['Quindio', 'Quindío'], 54: ['Norte De Santander', 'Norte De Sa'], 25: ['Cundinamarca', 'Cundinamarc'], 44: ['La Guajira', 'Guajira']}
{}

In [171]:
# Obtenemos los valores a remplazar
p2 = obtener_diccionario_remplaza(df, 'Código del  departamento (IES)', 'Departamento de  domicilio de la IES')
p2 = {k: v[0] for k, v in p2.items()}
df["Departamento de  domicilio de la IES"] = df["Departamento de  domicilio de la IES"].replace(p2)

## Municipio de domicilio de la IES

In [172]:
resultado1 = obtener_diccionario(df, 'Código del  Municipio (IES)', 'Municipio de domicilio de la IES')
resultado2 = obtener_diccionario(df, 'Municipio de domicilio de la IES', 'Código del  Municipio (IES)')
print(resultado1)
print('hola')
print(resultado2)

{11001: ['Bogota D.C.', 'Bogota', 'Bogotá, D.C.'], 5001: ['Medellin', 'Medellín'], 15176: ['Chiquinquira', 'Chiquinquirá'], 19001: ['Popayan', 'Popayán'], 23001: ['Monteria', 'Montería'], 27001: ['Quibdo', 'Quibdó'], 50001: ['Villavicencio', 'Villavicenci'], 88001: ['San Andres', 'San Andrés'], 13001: ['Cartagena', 'Cartagena De', 'Cartagena De Indias'], 73001: ['Ibague', 'Ibagué'], 54001: ['Cucuta', 'Cúcuta', 'San José De', 'San José De Cúcuta'], 54498: ['Ocaña', 'Oca?A'], 25290: ['Fusagasuga', 'Fusagasugá'], 25843: ['Villa De San Diego De Ubate', 'Ubaté', 'Ubate', 'Villa De San', 'Villa De San Diego De Ubaté'], 5148: ['El Carmen De Viboral', 'Carmen De Viboral', 'El Carmen De'], 5579: ['Puerto Berrio', 'Puerto Berrío', 'Puerto Berrí'], 25175: ['Chia', 'Chía'], 68081: ['Barrancabermeja', 'Barrancaberm'], 76834: ['Tulua', 'Tuluá'], 5686: ['Santa Rosa De Osos', 'Santa Rosa D'], 5045: ['Apartado', 'Apartadó'], 73268: ['Espinal', 'Espinal (Chicoral)'], 66682: ['Santa Rosa De Cabal', 'Santa Rosa D'], 25269: ['Facatativa', 'Facatativá'], 5042: ['Santafe De Antioquia', 'Santa Fe De Antioquia', 'Santa Fé De', 'Santa Fé De Antioquia'], 70221: ['Coveñas', 'Coveas (Sucre)'], 44650: ['San Juan Del Cesar', 'San Juan Del'], 76111: ['Guadalajara De Buga', 'Guadalajara'], 47189: ['Cienaga', 'Ciénaga']}
hola
{'Santa Rosa D': [5686, 66682]}

* 5686: ['Santa Rosa De Osos', 'Santa Rosa D'],
* 6682: ['Santa Rosa De Cabal', 'Santa Rosa D'],

In [173]:
# Filtrar y asignar el valor 
df.loc[df['Código del  Municipio (IES)'] == 5686, 'Municipio de domicilio de la IES'] = 'Santa Rosa De Osos'
df.loc[df['Código del  Municipio (IES)'] == 66682, 'Municipio de domicilio de la IES'] = 'Santa Rosa De Cabal'

In [174]:
# Obtenemos los valores a remplazar
p2 = obtener_diccionario_remplaza(df, 'Código del  Municipio (IES)', 'Municipio de domicilio de la IES')
p2 = {k: v[0] for k, v in p2.items()}
df["Municipio de domicilio de la IES"] = df["Municipio de domicilio de la IES"].replace(p2)

## Programa Académico

In [175]:
'''' muy largo esta mrd
resultado1 = obtener_diccionario(df, 'Código  SNIES del programa', 'Programa Académico')
resultado2 = obtener_diccionario(df, 'Programa Académico', 'Código  SNIES del programa')
print(resultado1)
print(resultado2)
'''

"' muy largo esta mrd\nresultado1 = obtener_diccionario(df, 'Código  SNIES del programa', 'Programa Académico')\nresultado2 = obtener_diccionario(df, 'Programa Académico', 'Código  SNIES del programa')\nprint(resultado1)\nprint(resultado2)\n"

## Nivel Académico

In [176]:
resultado1 = obtener_diccionario(df, 'ID Nivel Académico', 'Nivel Académico')
resultado2 = obtener_diccionario(df, 'Nivel Académico', 'ID Nivel Académico')
print(resultado1)
print(resultado2)

{}
{'No Aplica': ['No Aplica', 0]}

In [177]:
# Filtrar y asignar el valor 
df.loc[df['Nivel Académico'] == 'No Aplica', 'ID Nivel Académico'] = 0

## Nivel de Formación

In [178]:
resultado1 = obtener_diccionario(df, 'ID Nivel de Formación', 'Nivel de Formación')
resultado2 = obtener_diccionario(df, 'Nivel de Formación', 'ID Nivel de Formación')
print(resultado1)
print(resultado2)

{1: ['Especializacion', 'Especialización Universitaria'], 2: ['Maestria', 'Maestría'], 5: ['Tecnologica', 'Tecnológica'], 4: ['Formacion Tecnica Profesional', 'Formación Técnica Profesional'], 10: ['Especialización Médico Quirúrgica', 'Especialización Médico Quirúr'], 7: ['Especialización Técnico Profesional', 'Especialización Técnico Profe']}
{'No Aplica': ['No Aplica', 0]}

In [179]:
# Filtrar y asignar el valor 
df.loc[df['Nivel de Formación'] == 'No Aplica', 'ID Nivel de Formación'] = 0

In [180]:
# Obtenemos los valores a remplazar
p2 = obtener_diccionario_remplaza(df, 'ID Nivel de Formación', 'Nivel de Formación')
p2 = {k: v[0] for k, v in p2.items()}
df["Nivel de Formación"] = df["Nivel de Formación"].replace(p2)

## Metodología

In [181]:
resultado1 = obtener_diccionario(df, 'ID Metodología', 'Metodología')
resultado2 = obtener_diccionario(df, 'Metodología', 'ID Metodología')
print(resultado1)
print(resultado2)

{2: ['Distancia (Tradicion', 'A Distancia (Tradicional)', 'Distancia (Tradicional)', 'Distancia (Tradicio'], 3: ['Virtual', 'A Distancia (Virtual)', 'Distancia (Virtual)']}
{'No Aplica': ['No Aplica', 0]}

In [182]:
# Filtrar y asignar el valor 
df.loc[df['Metodología'] == 'No Aplica', 'ID Metodología'] = 0

In [183]:
# Obtenemos los valores a remplazar
p2 = obtener_diccionario_remplaza(df, 'ID Metodología', 'Metodología')
p2 = {k: v[0] for k, v in p2.items()}
df["Metodología"] = df["Metodología"].replace(p2)

## Área de Conocimiento

In [184]:
resultado1 = obtener_diccionario(df, 'ID Área', 'Área de Conocimiento')
resultado2 = obtener_diccionario(df, 'Área de Conocimiento', 'ID Área')
print(resultado1)
print(resultado2)

{8: ['Ingenieria Arquitectura Urbanismo Y Afines', 'Ingeniería, Arquitectura, Urbanismo Y Afines'], 1: ['Agronomia Veterinaria Y Afines', 'Agronomía, Veterinaria Y Afines'], 9: ['Matematicas Y Ciencias Naturales', 'Matemáticas Y Ciencias Naturales'], 6: ['Economia Administracion Contaduria Y Afines', 'Economía, Administración, Contaduría Y Afines'], 3: ['Ciencias De La Educacion', 'Ciencias De La Educación']}
{'No Aplica': ['No Aplica', 0]}

In [185]:
# Filtrar y asignar el valor 
df.loc[df['Área de Conocimiento'] == 'No Aplica', 'ID Área'] = 0

In [186]:
# Obtenemos los valores a remplazar
p2 = obtener_diccionario_remplaza(df, 'ID Área', 'Área de Conocimiento')
p2 = {k: v[0] for k, v in p2.items()}
df["Área de Conocimiento"] = df["Área de Conocimiento"].replace(p2)

## Núcleo Básico del Conocimiento (NBC)

In [187]:
resultado1 = obtener_diccionario(df, 'Id_Nucleo', 'Núcleo Básico del Conocimiento (NBC)')
resultado2 = obtener_diccionario(df, 'Núcleo Básico del Conocimiento (NBC)', 'Id_Nucleo')
print(resultado1)
print(resultado2)

{447: ['Odontologia', 'Odontología'], 441: ['Enfermeria', 'Enfermería'], 823: ['Ingenieria Agroindustrial Alimentos Y Afines', 'Ingeniería Agroindustrial, Alimentos Y Afines', 'Iingeniería Industrial, Alimentos Y Afines', 'Ingeniería Agroindustrial, Alimentos Y Afin'], 825: ['Ingenieria Civil Y Afines', 'Ingeniería Civil Y Afines'], 450: ['Salud Publica', 'Salud Pública'], 569: ['Sociologia Trabajo Social Y Afines', 'Sociología, Trabajo Social Y Afines'], 562: ['Geografia Historia', 'Geografía E Historía', 'Geografía, Historia'], 568: ['Filosofia Teologia Y Afines', 'Filosofía, Teología Y Afines'], 564: ['Lenguas Modernas Literatura Linguistica Y Afines', 'Lenguas Modernas, Literatura, Linguística Y Afines', 'Lenguas Modernas, Literatura, Linguística Y'], 828: ['Ingenieria Electrica Y Afines', 'Ingeniería Eléctrica Y Afines'], 832: ['Ingenieria Quimica Y Afines', 'Ingeniería Química Y Afines'], 826: ['Ingenieria De Minas Metalurgia Y Afines', 'Ingeniería De Minas, Metalurgía Y Afines', 'Ingeniería De Minas, Metalurgia Y Afines'], 937: ['Matematicas Estadistica Y Afines', 'Matemáticas, Estadística Y Afines'], 935: ['Fisica', 'Física'], 934: ['Biologia Microbiologia Y Afines', 'Biología, Microbiología Y Afines'], 939: ['Quimica Y Afines', 'Química Y Afines'], 553: ['Antropologia Artes Liberales', 'Antropología Y Artes Liberales', 'Antropología Y  Artes Liberales'], 611: ['Economia', 'Economía'], 11: ['Agronomia', 'Agronomía'], 24: ['Ates Plasticas Visuales Y Afines', 'Artes Plásticas, Visuales Y Afines'], 69: ['Administracion', 'Administración'], 936: ['Geologia Otros Programas De Ciencias Naturales', 'Geología Y Otros Programas De Ciencias Naturales', 'Geología, Otros Programas De Ciencias Naturales', 'Geología, Otros Programas De Ciencias Natur'], 566: ['Psicologia', 'Psicología'], 556: ['Ciencia Politica Relaciones Internacionales', 'Ciencia Política Y Relaciones Internacionales', 'Ciencia Política, Relaciones Internacionales', 'Ciencia Política, Relaciones Internacionale'], 820: ['Ingenieria Ambiental Sanitaria Y Afines', 'Ingeniería Ambiental, Sanitaria Y Afines'], 829: ['Ingenieria Electronica Telecomunicaciones Y Afines', 'Ingeniería Electrónica, Telecomunicaciones Y Afines', 'Ingeniería Electrónica, Telecomunicaciones'], 822: ['Ingenieria Agricola Forestal Y Afines', 'Ingeniería Agrícola, Forestal Y Afines'], 833: ['Otras Ingenierias', 'Otras Ingenierías'], 313: ['Educacion', 'Educación'], 827: ['Ingenieria De Sistemas Telematica Y Afines', 'Ingeniería De Sistemas, Telemática Y Afines'], 28: ['Musica', 'Música'], 831: ['Ingenieria Mecanica Y Afines', 'Ingeniería Mecánica Y Afines'], 830: ['Ingenieria Industrial Y Afines', 'Ingeniería Industrial Y Afines'], 27: ['Disenio', 'Diseño'], 557: ['Comunicación Social Periodismo Y Afines', 'Comunicación Social, Periodismo Y Afines'], -4: ['Sin Clasificar', nan], 612: ['Contaduria Publica', 'Contaduría Pública'], 821: ['Ingenieria Admnistrativa Y Afines', 'Ingeniería Administrativa Y Afines'], 824: ['Ingenieria Agronomica Pecuaria Y Afines', 'Ingeniería Agronómica, Pecuaria Y Afines'], 555: ['Bibliotecologia Otros De Ciencias Sociales Y Humanas', 'Bibliotecología Y Otros De Ciencias Sociales Y Humanas', 'Bibliotecología, Otros De Ciencias Sociales Y Humanas', 'Bibliotecología, Otros De Ciencias Sociales'], -3: ['Sin Clasificar', nan], -5: ['Sin Clasificar', nan], -6: ['Sin Clasificar', nan], 558: ['Deportes Educacion Fisica Y Recreacion', 'Deportes, Educación Física Y Recreación'], 448: ['Optometria Otros Programas De Ciencias De La Salud', 'Optometría Y Otros Programas De Ciencias De La Salud', 'Optometría, Otros Programas De Ciencias De La Salud', 'Optometría, Otros Programas De Ciencias De'], 440: ['Bacteriologia', 'Bacteriología'], -9: ['Sin Clasificar', nan], 561: ['Formacion Relacionada Con El Campo Militar O Policial', 'Formación Relacionada Con El Campo Militar O Policial', 'Formación Relacionada Con El Campo Militar'], 444: ['Instrumentacion Quirurgica', 'Instrumentacion Quirúrgica', 'Instrumentación Quirúrgica'], 446: ['Nutricion Y Dietetica', 'Nutrición Y Dietética'], 819: ['Ingenieria Biomedica Y Afines', 'Ingeniería Biomédica Y Afines'], -8: ['Sin Clasificar', nan], -2: ['Sin Clasificar', nan]}
{'Sin Clasificar': [-4, -3, -5, -6, -9, -8, -2, 'Sin Clasificar'], 'No Aplica': ['No Aplica', 0]}

In [188]:
# Filtrar y asignar el valor 
df.loc[df['Núcleo Básico del Conocimiento (NBC)'] == 'No Aplica', 'Id_Nucleo'] = 0
df.loc[df['Id_Nucleo'] == -4 , 'Id_Nucleo'] = -1
df.loc[df['Id_Nucleo'] == -3 , 'Id_Nucleo'] = -1
df.loc[df['Id_Nucleo'] == -5 , 'Id_Nucleo'] = -1
df.loc[df['Id_Nucleo'] == -6 , 'Id_Nucleo'] = -1
df.loc[df['Id_Nucleo'] == -9 , 'Id_Nucleo'] = -1
df.loc[df['Id_Nucleo'] == -8 , 'Id_Nucleo'] = -1
df.loc[df['Id_Nucleo'] == -2 , 'Id_Nucleo'] = -1
df.loc[df['Núcleo Básico del Conocimiento (NBC)'] == 'Sin Clasificar', 'Id_Nucleo'] = -1

In [189]:
# Obtenemos los valores a remplazar
p2 = obtener_diccionario_remplaza(df, 'Id_Nucleo', 'Núcleo Básico del Conocimiento (NBC)')
p2 = {k: v[0] for k, v in p2.items()}
df["Núcleo Básico del Conocimiento (NBC)"] = df["Núcleo Básico del Conocimiento (NBC)"].replace(p2)

## Departamento de oferta del programa

In [190]:
resultado1 = obtener_diccionario(df, 'Código del  Departamento (Programa)', 'Departamento de oferta del programa')
resultado2 = obtener_diccionario(df, 'Departamento de oferta del programa', 'Código del  Departamento (Programa)')
print(resultado1)
print(resultado2)

{11: ['Bogota D.C.', 'Bogotá D.C', 'Bogota D.C', 'Bogotá D.C.'], 15: ['Boyaca', 'Boyacá'], 94: ['Guainia', 'Guainía'], 63: ['Quindio', 'Quindío'], 88: ['San Andres Y Providencia', 'San Andrés Y Providencia', 'Archipiélago De', 'Archipiélago De San Andrés, Providencia Y Santa Catalina'], 23: ['Cordoba', 'Córdoba'], 18: ['Caqueta', 'Caquetá'], 27: ['Choco', 'Chocó'], 8: ['Atlantico', 'Atlántico'], 54: ['Norte De Santander', 'Norte De Santan'], 13: ['Bolivar', 'Bolívar'], 52: ['Narino', 'Nariño', 'Narinio', 'Meta'], 44: ['La Guajira', 'Guajira'], 97: ['Vaupes', 'Vaupés']}
{'Meta': [50, 52], 'Cesar': [20, 22], 'Sucre': [70, 72], 'No Aplica': ['No Aplica', 0]}

In [191]:
# Filtrar y asignar el valor 
df.loc[df['Departamento de oferta del programa'] == 'No Aplica', 'Código del  Departamento (Programa)'] = 0
df.loc[df['Departamento de oferta del programa'] == 'Cesar', 'Código del  Departamento (Programa)'] = 20
df.loc[df['Departamento de oferta del programa'] == 'Sucre', 'Código del  Departamento (Programa)'] = 70
df.loc[df['Código del  Departamento (Programa)'] == 52, 'Departamento de oferta del programa'] = 'Nariño'

In [192]:
# Obtenemos los valores a remplazar
p2 = obtener_diccionario_remplaza(df, 'Código del  Departamento (Programa)', 'Departamento de oferta del programa')
p2 = {k: v[0] for k, v in p2.items()}
df["Departamento de oferta del programa"] = df["Departamento de oferta del programa"].replace(p2)

## Municipio de oferta del programa

In [193]:
resultado1 = obtener_diccionario(df, 'Código del  Municipio (Programa)', 'Municipio de oferta del programa')
resultado2 = obtener_diccionario(df, 'Municipio de oferta del programa', 'Código del  Municipio (Programa)')
print(resultado1)
print(resultado2)

{11001: ['Bogota D.C.', 'Bogota', 'Bogotá, D.C.'], 5001: ['Medellin', 'Medellín'], 15176: ['Chiquinquira', 'Chiquinquirá'], 15753: ['Soata', 'Soatá'], 25290: ['Fusagasuga', 'Fusagasugá'], 25297: ['Gacheta', 'Gachetá'], 50006: ['Acacias', 'Acacías'], 94001: ['Inirida', 'Inírida'], 19001: ['Popayan', 'Popayán'], 73001: ['Ibague', 'Ibagué'], 88001: ['San Andres', 'San Andrés'], 66456: ['Mistrato', 'Mistrató'], 76834: ['Tulua', 'Tuluá'], 23001: ['Monteria', 'Montería'], 41298: ['Garzon', 'Garzón'], 25126: ['Cajica', 'Cajicá'], 27001: ['Quibdo', 'Quibdó'], 5579: ['Puerto Berrio', 'Puerto Berrío'], 5756: ['Sonson', 'Sonsón'], 5042: ['Santafe De Antioquia', 'Santa Fe De Antioquia', 'Santa Fé De Antioquia'], 5148: ['El Carmen De Viboral', 'Carmen De Viboral'], 5045: ['Apartado', 'Apartadó'], 68432: ['Malaga', 'Málaga'], 54001: ['Cucuta', 'Cúcuta', 'San José De Cúcuta'], 13001: ['Cartagena', 'Cartagena De Indias'], 13006: ['Achi', 'Achí'], 13244: ['El Carmen De Bolivar', 'El Carmen De Bolívar'], 13430: ['Magangue', 'Magangué'], 23162: ['Cerete', 'Cereté'], 13468: ['Mompos', 'Santa Cruz De Mompox'], 70742: ['San Luis De Since', 'Since', 'San Luis De Sincé'], 52835: ['San Andres De Tumaco', 'Tumaco', 'San Andrés De Tumaco'], 25740: ['Sibate', 'Sibaté'], 73585: ['Purificacion', 'Purificación'], 73268: ['Espinal', 'Espinal (Chicoral)'], 73411: ['Libano', 'Líbano'], 54172: ['Chinacota', 'Chinácota'], 54498: ['Ocaña', 'Oca?A'], 54810: ['Tibu', 'Tibú'], 25151: ['Caqueza', 'Cáqueza'], 25175: ['Chia', 'Chía'], 52019: ['Alban', 'Alban (San Jose)'], 25269: ['Facatativa', 'Facatativá'], 25899: ['Zipaquira', 'Zipaquirá'], 25843: ['Villa De San Diego De Ubate', 'Ubaté', 'Ubate', 'Villa De San Diego De', 'Villa De San Diego De Ubaté'], 19821: ['Toribio', 'Toribío'], 86865: ['Valle Del Guamuez', 'Valle Del Guamuez (La Hormiga)'], 17513: ['Pacora', 'Pácora'], 17662: ['Samana', 'Samaná'], 17777: ['Supia', 'Supía'], 18753: ['San Vicente Del Caguan', 'San Vicente Del Caguán'], 23660: ['Sahagun', 'Sahagún'], 68861: ['Velez', 'Vélez'], 73443: ['San Sebastian De Mariquita', 'Mariquita', 'San Sebastián De Mariq', 'San Sebastián De Mariquita'], 20228: ['Curumani', 'Curumaní'], 25053: ['Arbelaez', 'Arbeláez'], 19532: ['Patia', 'Patía (El Bordo)', 'Patia (El Bordo)', 'Patía'], 15223: ['Cubara', 'Cubará'], 95001: ['San Jose Del Guaviare', 'San José Del Guaviare'], 99001: ['Puerto Carreño', 'Puerto Carre?O'], 15469: ['Moniquira', 'Moniquirá'], 41668: ['San Agustin', 'San Agustín'], 52838: ['Tuquerres', 'Túquerres'], 70400: ['La Union', 'La Unión'], 86568: ['Puerto Asis', 'Puerto Asís'], 27050: ['Atrato', 'Atrato (Choco)'], 23466: ['Montelibano', 'Montelíbano'], 66170: ['Dosquebradas', 'Dos Quebradas'], 5360: ['Itagui', 'Itaguí', 'Itagüí'], 27787: ['Tado', 'Tadó'], 68307: ['Giron', 'Girón'], 76364: ['Jamundi', 'Jamundí'], 5659: ['San Juan De Uraba', 'San Juan De Urabá'], 23670: ['San Andres De Sotavento', 'San Andrés De Sotavento', 'San Andrés De Sotavent'], 47058: ['Ariguani', 'Ariguani (El Dificil)', 'Ariguaní'], 70670: ['Sampues', 'Sampués'], 5368: ['Jerico', 'Jericó'], 5890: ['Yolombo', 'Yolombó'], 70221: ['Coveñas', 'Coveas (Sucre)'], 47189: ['Cienaga', 'Ciénaga'], 5172: ['Chigorodo', 'Chigorodó'], 5490: ['Necocli', 'Necoclí'], 18150: ['Cartagena Del Chaira', 'Cartagena Del Chairá'], 52399: ['La Union', 'La Unión'], 63130: ['Calarca', 'Calarcá'], 23675: ['San Bernardo Del Viento', 'San Bernardo Del Vient'], 47288: ['Fundacion', 'Fundación'], 50573: ['Puerto Lopez', 'Puerto López'], 86571: ['Puerto Guzman', 'Puerto Guzmán'], 97001: ['Mitu', 'Mitú'], 15407: ['Villa De Leyva', 'Villa De Leiva'], 44035: ['Albania', 'Albania (Guajira)'], 50689: ['San Martin', 'San Martín'], 66594: ['Quinchia', 'Quinchía'], 5790: ['Taraza', 'Tarazá'], 15646: ['Samaca', 'Samacá'], 23182: ['Chinu', 'Chinú'], 23189: ['Cienaga De Oro', 'Ciénaga De Oro'], 5120: ['Caceres', 'Cáceres'], 18256: ['El Paujil', 'Paujil', 'El Paujíl'], 50110: ['Barranca De Upia', 'Barranca De Upía'], 17174: ['Chinchina', 'Chinchiná'], 23586: ['Purisima', 'Purísima De La Concepc', 'Purísima De La Concepción'], 27099: ['Bojaya', 'Bojayá'], 70204: ['Coloso', 'Colosó'], 85139: ['Mani', 'Maní'], 70823: ['Tolu Viejo', 'Toluviejo', 'San José De Toluviejo'], 5665: ['San Pedro De Uraba', 'San Pedro De Urabá'], 17088: ['Belalcazar', 'Belalcázar'], 23500: ['Moñitos', 'Mo?Itos'], 86573: ['Puerto Leguizamo', 'Puerto Leguízamo'], 68255: ['El Playon', 'El Playón'], 15572: ['Puerto Boyaca', 'Puerto Boyacá'], 86885: ['Villagarzon', 'Villagarzón'], 5264: ['Entrerrios', 'Entrerríos'], 47692: ['San Sebastian De Buenavista', 'San Sebastián De Buena'], 19807: ['Timbio', 'Timbío'], 13442: ['Maria La Baja', 'María La Baja'], 66088: ['Belén De Umbría', 'Belen De Umbria'], 88564: ['Providencia Y Santa Catalina', 'Providencia'], 19300: ['Guachené', 'Guachene'], 5789: ['Támesis', 'Tamesis'], 19418: ['López', 'López De Micay'], 5664: ['San Pedro', 'San Pedro De Los Milag', 'San Pedro De Los Milagros'], 76400: ['La Unión', 'La Union'], 18610: ['San Jose Del Fragua', 'San José Del Fragua'], 5101: ['Ciudad Bolivar', 'Ciudad Bolívar'], 5364: ['Jardin', 'Jardín'], 8685: ['Santo Tomas', 'Santo Tomás'], 23419: ['Los Cordobas', 'Los Córdobas'], 52207: ['Consaca', 'Consacá'], 73408: ['Lerida', 'Lérida'], 25817: ['Tocancipa', 'Tocancipá'], 25295: ['Gachancipa', 'Gachancipá'], 47980: ['Zona Bananera (Magdalena)', 'Zona Bananera'], 50568: ['Puerto Gaitan', 'Puerto Gaitán'], 52224: ['Cuaspud (Carlosama)', 'Cuaspud Carlosama'], 52560: ['Potosi', 'Potosí'], 52694: ['San Pedro De Cartago (Cartago)', 'San Pedro De Cartago'], 15690: ['Santa Maria', 'Santa María'], 47268: ['El Reten', 'El Retén'], 27025: ['Alto Baudo (Pie De Pato)', 'Alto Baudó'], 27073: ['Bagado', 'Bagadó'], 27077: ['Bajo Baudo (Pizarro)', 'Bajo Baudó'], 27135: ['El Canton De San Pablo (Managru)', 'El Cantón Del San Pabl'], 13212: ['Cordoba', 'Córdoba'], 18094: ['Belen De Los Andaquies', 'Belén De Los Andaquíes'], 25317: ['Guacheta', 'Guachetá'], 63302: ['Genova', 'Génova'], 27006: ['Acandi', 'Acandí'], 15599: ['Ramiriqui', 'Ramiriquí'], 25645: ['San Antonio Del Tequendama', 'San Antonio Del Tequen'], 25736: ['Sesquile', 'Sesquilé'], 15104: ['Boyaca', 'Boyacá'], 25099: ['Bojaca', 'Bojacá'], 25758: ['Sopo', 'Sopó'], 20770: ['San Martin', 'San Martín'], 25279: ['Fomeque', 'Fómeque'], 5647: ['San Andres', 'San Andrés De Cuerquía'], 52215: ['Cordoba', 'Córdoba'], 27250: ['El Litoral Del San Jua', 'El Litoral Del San Juan'], 68235: ['El Carmen De Chucuri', 'El Carmen De Chucurí']}
{'Rionegro': [5615, 68615], 'Barbosa': [68077, 5079], 'Armenia': [63001, 5059], 'San Andres': [88001, 5647], 'Florencia': [18001, 19290], 'Villanueva': [44874, 85440, 13873, 68872], 'San Francisco': [86755, 25658], 'La Union': [70400, 52399, 76400], 'Sabanalarga': [8638, 85300, 5628], 'Caldas': [5129, 15131], 'Concordia': [5209, 47205], 'Granada': [50313, 25312, 5313], 'Chima': [23168, 68176], 'Puerto Rico': [18592, 50590], 'El Tambo': [52260, 19256], 'Ricaurte': [25612, 52612], 'Guadalupe': [41319, 5315], 'Albania': [18029, 44035], 'San Pablo': [52693, 13670], 'Buenavista': [23079, 63111, 70110], 'Mosquera': [25473, 52473], 'Miraflores': [15455, 95200], 'Riosucio': [17614, 27615], 'San Martin': [50689, 20770], 'San Pedro': [70717, 76670, 5664], 'San Carlos': [5649, 23678], 'No Aplica': ['No Aplica', 0], 'La Unión': [70400, 76400, 52399], 'San Martín': [50689, 20770], 'Santa Maria': [15690, 41676], 'Cordoba': [13212, 52215], 'La Vega': [25402, 19397], 'Morales': [13473, 19473], 'Córdoba': [63212, 13212, 52215], 'Páez': [19517, 15514]}

## Sexo

In [194]:
resultado1 = obtener_diccionario(df, 'ID Sexo', 'Sexo')
resultado2 = obtener_diccionario(df, 'Sexo', 'ID Sexo')
print(resultado1)
print(resultado2)

{2: ['Femenino', 'Mujer'], 1: ['Masculino', 'Hombre']}
{}

In [195]:
# Obtenemos los valores a remplazar
p2 = obtener_diccionario_remplaza(df, 'ID Sexo', 'Sexo')
p2 = {k: v[0] for k, v in p2.items()}
df["Sexo"] = df["Sexo"].replace(p2)

# OTRAS VAINAS

In [196]:
resultado1 = obtener_diccionario(df, 'Código del  Departamento (Programa)', 'Departamento de oferta del programa',1)
resultado2 = obtener_diccionario(df, 'Departamento de oferta del programa', 'Código del  Departamento (Programa)')
print(resultado1)
print(resultado2)

for i in resultado2.values():
    for n in i:
        if len(resultado1[n]) >= 2:
            print(resultado1[n])
            print('el indice es {} y los valores son {}'.format (n,resultado1[n]))

{11: ['Bogota D.C.'], 5: ['Antioquia'], 17: ['Caldas'], 76: ['Valle Del Cauca'], 15: ['Boyaca'], 85: ['Casanare'], 25: ['Cundinamarca'], 50: ['Meta'], 68: ['Santander'], 91: ['Amazonas'], 94: ['Guainia'], 19: ['Cauca'], 66: ['Risaralda'], 63: ['Quindio'], 73: ['Tolima'], 88: ['San Andres Y Providencia'], 23: ['Cordoba'], 41: ['Huila'], 18: ['Caqueta'], 27: ['Choco'], 20: ['Cesar'], 8: ['Atlantico'], 54: ['Norte De Santander'], 13: ['Bolivar'], 70: ['Sucre'], 52: ['Nariño'], 86: ['Putumayo'], 81: ['Arauca'], 47: ['Magdalena'], 44: ['La Guajira'], 95: ['Guaviare'], 99: ['Vichada'], 97: ['Vaupes'], 0: ['No Aplica'], 2: [nan], 'Sin Programa Especifico': ['Sin Programa Especificoa']}
{}

In [197]:
df.describe(include='all')

,Código de la Institución,IES PADRE,Institución de Educación Superior (IES),Principal o Seccional,ID Sector IES,Sector IES,ID Caracter,Caracter IES,Código del departamento (IES),Departamento de domicilio de la IES,Código del Municipio (IES),Municipio de domicilio de la IES,Código SNIES del programa,Programa Académico,ID Nivel Académico,Nivel Académico,ID Nivel de Formación,Nivel de Formación,ID Metodología,Metodología,ID Área,Área de Conocimiento,Id_Nucleo,Núcleo Básico del Conocimiento (NBC),Código del Departamento (Programa),Departamento de oferta del programa,Código del Municipio (Programa),Municipio de oferta del programa,ID Sexo,Sexo,Año,Semestre,Inscripciones 2018
count,314808.000000,314808.000000,314808,314808,314808.000000,314808,314808.000000,314808,314808.000000,314808,314808.000000,314808,314808.0,314808,314808.0,314808,314808.0,314808,314808.0,314808,314808.0,314808,314808.0,314808,314808.0,314141,314808.0,314808,314808.00000,314808,314808.000000,314808.000000,314808.000000
unique,NaN,NaN,289,2,NaN,2,NaN,4,NaN,29,NaN,77,15032.0,8980,3.0,3,11.0,11,6.0,6,11.0,11,58.0,58,36.0,35,740.0,877,NaN,2,NaN,NaN,NaN
top,NaN,NaN,Universidad Nacional Abierta Y A Distancia Unad,Principal,NaN,Privada,NaN,Universidad,NaN,Bogota D.C.,NaN,Bogota D.C.,3274.0,Administracion De Empresas,1.0,Pregrado,6.0,Universitaria,1.0,Presencial,6.0,Economia Administracion Contaduria Y Afines,69.0,Administracion,11.0,Bogota D.C.,11001.0,Bogota D.C.,NaN,Masculino,NaN,NaN,NaN
freq,NaN,NaN,43682,293947,NaN,165091,NaN,201879,NaN,166336,NaN,166336,1660.0,7742,214926.0,214926,133773.0,133773,225048.0,225048,96787.0,96787,70441.0,70441,72936.0,72936,72936.0,40407,NaN,159850,NaN,NaN,NaN
mean,3001.120013,2992.056835,NaN,NaN,1.524418,NaN,3.452533,NaN,20.881858,NaN,20910.148087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.49223,NaN,2017.201072,1.489610,45.103860
std,2439.196934,2430.590999,NaN,NaN,0.499404,NaN,0.827747,NaN,21.966241,NaN,21991.065412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.49994,NaN,1.996682,0.499893,208.689036
min,1101.000000,1101.000000,NaN,NaN,1.000000,NaN,1.000000,NaN,5.000000,NaN,5001.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,2014.000000,1.000000,1.000000
25%,1710.000000,1710.000000,NaN,NaN,1.000000,NaN,3.000000,NaN,11.000000,NaN,11001.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,2015.000000,1.000000,4.000000
50%,2102.000000,2102.000000,NaN,NaN,2.000000,NaN,4.000000,NaN,11.000000,NaN,11001.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,2017.000000,1.000000,12.000000
75%,2833.000000,2833.000000,NaN,NaN,2.000000,NaN,4.000000,NaN,17.000000,NaN,17001.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,2019.000000,2.000000,35.000000
max,9933.000000,9931.000000,NaN,NaN,2.000000,NaN,4.000000,NaN,91.000000,NaN,91001.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00000,NaN,2020.000000,2.000000,26786.000000

In [198]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 314808 entries, 0 to 314807
Data columns (total 33 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   Código de  la Institución                314808 non-null  int64
 1   IES PADRE                                314808 non-null  int64
 2   Institución de Educación Superior (IES)  314808 non-null  object
 3   Principal  o Seccional                   314808 non-null  object
 4   ID Sector IES                            314808 non-null  int64
 5   Sector IES                               314808 non-null  object
 6   ID Caracter                              314808 non-null  int64
 7   Caracter IES                             314808 non-null  object
 8   Código del  departamento (IES)           314808 non-null  int64
 9   Departamento de  domicilio de la IES     314808 non-null  object
 10  Código del  Municipio (IES)              314808 non-null  int64
 11  Municipio de domicilio de la IES         314808 non-null  object
 12  Código  SNIES del programa               314808 non-null  object
 13  Programa Académico                       314808 non-null  object
 14  ID Nivel Académico                       314808 non-null  object
 15  Nivel Académico                          314808 non-null  object
 16  ID Nivel de Formación                    314808 non-null  object
 17  Nivel de Formación                       314808 non-null  object
 18  ID Metodología                           314808 non-null  object
 19  Metodología                              314808 non-null  object
 20  ID Área                                  314808 non-null  object
 21  Área de Conocimiento                     314808 non-null  object
 22  Id_Nucleo                                314808 non-null  object
 23  Núcleo Básico del Conocimiento (NBC)     314808 non-null  object
 24  Código del  Departamento (Programa)      314808 non-null  object
 25  Departamento de oferta del programa      314141 non-null  object
 26  Código del  Municipio (Programa)         314808 non-null  object
 27  Municipio de oferta del programa         314808 non-null  object
 28  ID Sexo                                  314808 non-null  int64
 29  Sexo                                     314808 non-null  object
 30  Año                                      314808 non-null  int64
 31  Semestre                                 314808 non-null  int64
 32  Inscripciones 2018                       314808 non-null  int64
dtypes: int64(10), object(23)
memory usage: 79.3+ MB

In [199]:
# Obtener el número de valores únicos en cada columna
valores_unicos = df.nunique()

# Obtener el número total de valores en cada columna
total_valores = df.count()

# Combinar los resultados en un nuevo DataFrame
resumen_valores_unicos = pd.DataFrame({
    'Columna': valores_unicos.index,
    'Valores Únicos': valores_unicos.values,
    'Total Valores': total_valores.values
})

# Imprimir el resumen de valores únicos
print(resumen_valores_unicos)

                                    Columna  Valores Únicos  Total Valores
0                 Código de  la Institución             338         314808
1                                 IES PADRE             289         314808
2   Institución de Educación Superior (IES)             289         314808
3                    Principal  o Seccional               2         314808
4                             ID Sector IES               2         314808
5                                Sector IES               2         314808
6                               ID Caracter               4         314808
7                              Caracter IES               4         314808
8            Código del  departamento (IES)              29         314808
9      Departamento de  domicilio de la IES              29         314808
10              Código del  Municipio (IES)              77         314808
11         Municipio de domicilio de la IES              77         314808
12               Código  SNIES del programa           15032         314808
13                       Programa Académico            8980         314808
14                       ID Nivel Académico               3         314808
15                          Nivel Académico               3         314808
16                    ID Nivel de Formación              11         314808
17                       Nivel de Formación              11         314808
18                           ID Metodología               6         314808
19                              Metodología               6         314808
20                                  ID Área              11         314808
21                     Área de Conocimiento              11         314808
22                                Id_Nucleo              58         314808
23     Núcleo Básico del Conocimiento (NBC)              58         314808
24      Código del  Departamento (Programa)              36         314808
25      Departamento de oferta del programa              35         314141
26         Código del  Municipio (Programa)             740         314808
27         Municipio de oferta del programa             877         314808
28                                  ID Sexo               2         314808
29                                     Sexo               2         314808
30                                      Año               7         314808
31                                 Semestre               2         314808
32                       Inscripciones 2018            1791         314808

In [200]:
def obtener_diccionario(d_f, col_codigos, col_valores):
    codigos_unicos = d_f[col_codigos].unique()
    diccionario = {}
    
    for codigo in codigos_unicos:
        nombres_unicos = d_f[df[col_codigos] == codigo][col_valores].unique()
        
        if len(nombres_unicos) > 1:
            diccionario[codigo] = nombres_unicos.tolist()

    lista_valores = [valor[0] for valor in diccionario.values()]
    diccionario_actualizado = {lista_valores[i]: valor for i, valor in enumerate(diccionario.values())}
    diccionario_invertido = {}

    for clave, valores in diccionario_actualizado.items():
        for valor in valores:
            diccionario_invertido.setdefault(valor, []).append(clave)
    
    return diccionario_invertido

In [201]:
p2 = obtener_diccionario(df, 'Código de  la Institución', 'Institución de Educación Superior (IES)')

In [202]:
p2

{}

In [203]:
p2 = {k: v[0] for k, v in p2.items()}
df["Institución de Educación Superior (IES)"] = df["Institución de Educación Superior (IES)"].replace(p2)

In [204]:
# df.to_csv('archivo.csv', index=False)

In [205]:
filtro = (df['Institución de Educación Superior (IES)'] == 'INSTITUTO NACIONAL DE FORMACION TECNICA PROFESIONAL DE SAN JUAN DEL CESAR') & (df['Código de  la Institución'] == 4106)
df_filtrado = df.loc[filtro]
df_filtrado

Empty DataFrame
Columns: [Código de  la Institución, IES PADRE, Institución de Educación Superior (IES), Principal  o Seccional, ID Sector IES, Sector IES, ID Caracter, Caracter IES, Código del  departamento (IES), Departamento de  domicilio de la IES, Código del  Municipio (IES), Municipio de domicilio de la IES, Código  SNIES del programa, Programa Académico, ID Nivel Académico, Nivel Académico, ID Nivel de Formación, Nivel de Formación, ID Metodología, Metodología, ID Área, Área de Conocimiento, Id_Nucleo, Núcleo Básico del Conocimiento (NBC), Código del  Departamento (Programa), Departamento de oferta del programa, Código del  Municipio (Programa), Municipio de oferta del programa, ID Sexo, Sexo, Año, Semestre, Inscripciones 2018]
Index: []

INSTITUTO NACIONAL DE FORMACION TECNICA PROFESIONAL DE S  (tiene 2 codigo 4106 y el 4102)  4106 =  INSTITUTO NACIONAL DE FORMACION TECNICA PROFESIONAL DE SAN ANDRES y 4102 = INSTITUTO NACIONAL DE FORMACION TECNICA PROFESIONAL DE SAN JUAN DEL CESAR

In [206]:
# Obtener el número de valores únicos en cada columna
valores_unicos = df.nunique()

# Obtener el número total de valores en cada columna
total_valores = df.count()

# Combinar los resultados en un nuevo DataFrame
resumen_valores_unicos = pd.DataFrame({
    'Columna': valores_unicos.index,
    'Valores Únicos': valores_unicos.values,
    'Total Valores': total_valores.values
})

# Imprimir el resumen de valores únicos
print(resumen_valores_unicos)

                                    Columna  Valores Únicos  Total Valores
0                 Código de  la Institución             338         314808
1                                 IES PADRE             289         314808
2   Institución de Educación Superior (IES)             289         314808
3                    Principal  o Seccional               2         314808
4                             ID Sector IES               2         314808
5                                Sector IES               2         314808
6                               ID Caracter               4         314808
7                              Caracter IES               4         314808
8            Código del  departamento (IES)              29         314808
9      Departamento de  domicilio de la IES              29         314808
10              Código del  Municipio (IES)              77         314808
11         Municipio de domicilio de la IES              77         314808
12               Código  SNIES del programa           15032         314808
13                       Programa Académico            8980         314808
14                       ID Nivel Académico               3         314808
15                          Nivel Académico               3         314808
16                    ID Nivel de Formación              11         314808
17                       Nivel de Formación              11         314808
18                           ID Metodología               6         314808
19                              Metodología               6         314808
20                                  ID Área              11         314808
21                     Área de Conocimiento              11         314808
22                                Id_Nucleo              58         314808
23     Núcleo Básico del Conocimiento (NBC)              58         314808
24      Código del  Departamento (Programa)              36         314808
25      Departamento de oferta del programa              35         314141
26         Código del  Municipio (Programa)             740         314808
27         Municipio de oferta del programa             877         314808
28                                  ID Sexo               2         314808
29                                     Sexo               2         314808
30                                      Año               7         314808
31                                 Semestre               2         314808
32                       Inscripciones 2018            1791         314808

In [207]:
# Obtener la cantidad de valores nulos por columna
valores_nulos = df.isnull().sum()

print(valores_nulos)

0
Código de  la Institución                    0
IES PADRE                                    0
Institución de Educación Superior (IES)      0
Principal  o Seccional                       0
ID Sector IES                                0
Sector IES                                   0
ID Caracter                                  0
Caracter IES                                 0
Código del  departamento (IES)               0
Departamento de  domicilio de la IES         0
Código del  Municipio (IES)                  0
Municipio de domicilio de la IES             0
Código  SNIES del programa                   0
Programa Académico                           0
ID Nivel Académico                           0
Nivel Académico                              0
ID Nivel de Formación                        0
Nivel de Formación                           0
ID Metodología                               0
Metodología                                  0
ID Área                                      0
Área de Conocimiento                         0
Id_Nucleo                                    0
Núcleo Básico del Conocimiento (NBC)         0
Código del  Departamento (Programa)          0
Departamento de oferta del programa        667
Código del  Municipio (Programa)             0
Municipio de oferta del programa             0
ID Sexo                                      0
Sexo                                         0
Año                                          0
Semestre                                     0
Inscripciones 2018                           0
dtype: int64

In [208]:
fila_con_nulos

NameError: name 'fila_con_nulos' is not defined